[2021-03-15 16:22] jhasse opened #2885 "Escape key exits fullscreen mode"
- Web Browser: Chromium/Chrome
- Local OS: Linux or Windows
- Remote OS: Linux
- Remote Architecture: amd64
- `code-server --version`: `3.9.1 e0203f2a36c9b7036fefa50eec6cf8fa36c5c015`

Pressing Escape exits fullscreen mode, when instead I would expect it to close dialogs or code completion popups (as in fullscreen VSCode). Chrome has an API to lock the escape key, so that it switches to F11 for ex

[2021-03-15 16:57] code-asher commented on #2878
I think this started as an attempt to support the `max-memory` flag of VS Code but we had that option fall back to 2048 instead of just not setting it. At some point the flag was removed and we were left with just the default.

I almost removed it but I was worried that the lower default limit might cause existing users to suddenly run into memory limit issues. But it does seem like a weird thing

[2021-03-15 17:02] jsjoeio commented on #2768
Ahhh! Interesting. Glad you found that and were able to get it working. I installed Termux from Google Play too, maybe I have a newer version.

Thanks for posting the solution! 🙌

@NotAlone777 are you able to see if this solution works for you as well? Then we could close this issue.

[2021-03-15 17:07] code-asher commented on #2734
We haven't since the connection errors don't provide any extra details on our end. I think what we'll have to do is try to replicate it ourselves and go from there.

[2021-03-15 17:09] jsjoeio commented on #2783
Hey @ddurham2 - thanks for letting us know! Just to clarify, I should be able to reproduce following these steps?

1. install latest version of code-server 3.9.1
2. install the latest ms-python extension
3. create `test.py`
4. crate `launch.json` (using what you have above)
5. hit F5 in `test.py`

## Expected

I don't use Python much these days and also haven't tried debugging it in VS Code/code-s

[2021-03-15 17:13] code-asher opened #2888 "Unable to enable systemd service"
Ubuntu 20.04 LTS. Code server v3.9.1
Trying sudo systemctl enable --now code-server@root and sudo systemctl enable --now code-server@USER
Having error
Failed to enable unit: Unit file code-server@root.service does not exist.

UPDATE

Please, fix docs. After this command user need to run "curl -fsSL https://code-server.dev/install.sh | sh" but command line instructions says that user need to run su

[2021-03-15 17:34] ddurham2 commented on #2783
Yes, precisely.  And I think #2341 is what I should focus on, and possibly this issue's fundamental cause too.

I have learned since that if you look in the browser dev console that this behavior is caused by the ms-toolsai.jupyter failing to load.  That seems to be because it's missing some files in the extension ( /home/coder/.local/share/code-server/extensions/ms-toolsai.jupyter-2021.2.0/out/cl

[2021-03-15 17:40] jsjoeio commented on #2875
@maresb thanks for going the extra mile helping out here! ♥️ We super appreciate it.

And sorry for all the trouble/workarounds you have to do @phisanti - hoping to get the Open VSX update out in the next month or two!

[2021-03-15 17:40] #2646 closed

[2021-03-15 17:50] jsjoeio commented on #2885
Thanks for opening this issue! I'm having trouble reproducing this locally. Does this all look right below?

## Steps to Reproduce

1. Open code-server in the browser
2. Enter fullscreen mode
3. Open Application Menu > Help > About
4. Press Escape key

## Expected

Dialog is closed

## Actual

?

- [x] Works as expected on macOS + Chrome
- [x] Works as expected on macOS + Firefox

## Screenshots

[2021-03-15 17:54] jsjoeio commented on #2734
@SamHep0803 I can take a look at this seeing that it's iPad.

Do you mind providing reproduction steps? I have my own setup on iPad but ideally I try to mimic yours as closely as possible.

[2021-03-15 17:57] SamHep0803 commented on #2734
Well, it's not an iPad issue specifically, i've had the same issue on different machines. I've tried it on a PC, mac and my iPad. The only steps that I took was to startup code server with the --link flag, nothing else, no config or anything.

[2021-03-15 18:03] jsjoeio commented on #2783
Awesome! Thanks for the additional info. I've added this to the next milestone so hopefully we can figure this out!

[2021-03-15 18:05] jsjoeio commented on #2734
Oh, I see. Hmm.. That's so strange then. I just used `--link` the other day with no issues (on mac).

The only way we'll be able to help with this is if we can successfully reproduce it ourselves. Any tips/suggestions you have there would be helpful!

[2021-03-15 18:12] SamHep0803 commented on #2734
It seemed to stop working after I got my first "Reconnecting..." pop up after I didn't close my tab before going to sleep, after that i refreshed the page and I got that error, I managed to get around it for a while by using a vpn until I did the same thing and it stopped working again, turned off my vpn, started working, but I don't think that's a good solution and it's not really "fixed"

[2021-03-15 18:20] jsjoeio commented on #2734
Yeah, I agree with you, I wouldn't consider that fixed.

Well like I said, if you can provide reproduction steps, then I'd be happy to look into fixing this! Otherwise, we don't have a good strategy for diagnosing and fixing this 😢

[2021-03-16 00:04] Lestt commented on #2888
@code-asher The doc says:

[code]

[2021-03-16 00:31] david9991 commented on #2882
You are right, extension host was killed without call the deactivate().

[2021-03-16 03:38] SamHep0803 commented on #2734
The only reproduction steps I can give is starting code-server with the --link flag, that's all, no other changes were made. It's not specific to host machine, I've tried it on both GCP and DigitalOcean, not guest specific, tried on different platforms and OS's. I have a feeling it's an issue with cdr's servers and not with code-server

[2021-03-16 06:33] NotAlone777 commented on #2768
Thank you, I successfully installed it.👍

[2021-03-16 06:33] #2768 closed

[2021-03-16 08:23] jhasse commented on #2885
I've just updated from Chromium 88.0.4324 to 89.0.4389 and now it works. Weird. I'll reopen if it happens again and I can find out exactly why. Sorry for the noise.

[2021-03-16 08:23] #2885 closed

[2021-03-16 10:45] eh8 commented on #1337
Are there still any plans to release the armhf binaries to accompany x86 and arm64 in the future?

[2021-03-16 14:34] sr229 commented on #1337
There isn't that large demand if you ask me, plus most of the development happens in ARM64 or x86_64 hosts, so there won't be any demand for this.

[2021-03-16 15:27] JohnCWakley commented on #1730
This also worked for me, thank you!

[2021-03-16 15:29] code-asher commented on #2734
We could spin it up on GCP and see what happens. If a VPN fixes it maybe it's related to location somehow.

[2021-03-16 15:35] code-asher commented on #2888
From what I can tell based on their comment they used the install script (see the `curl -fsSL https://code-server.dev/install.sh | sh` command).

I haven't actually tested any of this myself, I just opened a new issue for them since they posted in a closed issue.

[2021-03-16 15:38] code-asher commented on #2888
Actually I think I misread the comment. I think they're saying the install script needs to be ran before you can enable the service and that the docs don't mention this? But as far as I can tell they do.

@olegKusov I'm going to close this issue but if you have any insight on where the docs need to be updated please comment! Thank you!

[2021-03-16 15:38] #2888 closed

[2021-03-16 15:50] code-asher commented on #2882
I'll go ahead and close this since it's working as intended. I would prefer if the extension host wasn't killed and restarted like this but that's something we'd need to raise upstream.

[2021-03-16 15:50] #2882 closed

[2021-03-16 16:38] jsjoeio commented on #2885
No worries at all! Glad it was resolved!

[2021-03-16 16:48] jsjoeio commented on #1730
Now that we have some [official documentation for Termux](https://github.com/cdr/code-server/blob/5d5e6314a15877d1e6d6f82fcdcfb38355f1f758/docs/install.md#termux), I think we should add this there.

[2021-03-16 16:55] jsjoeio commented on #2734
Ah got it. Yeah, I agree with Asher. We'll make a note to try on GCP then.

@SamHep0803 if you're comfortable sharing, what location are you trying this from (city/state/country)? And when using a VPN, what location were you using? That may help.

[2021-03-16 16:57] SamHep0803 commented on #2734
UAE, VPN server was set to London, UK

[2021-03-16 18:54] jawnsy opened #2898 "Proposal: remove default assignees and approvers from Dependabot PRs"
@code-asher seems to have taken a shine to dependabot's PRs :heart:

I propose we remove `jawnsy` from the assignee/approver field in the Dependabot configuration, or set both to the `cdr/code-server-reviewers` team instead (I think the reviewer will be set to `cdr/code-server-reviewers` anyways due to the repository's code owner settings)

Opening this issue to discuss, will open a PR if there's

[2021-03-16 19:00] code-asher commented on #2898
I'm in favor, reduces steps for me since I won't have to unassign you. :laughing:

[2021-03-16 19:09] jsjoeio commented on #2898
All those in favor: say "I"!

Yeah I think you're right here too.

SGTM!

[2021-03-16 19:10] code-asher commented on #2772
Fixed in https://github.com/cdr/code-server/pull/2891.

[2021-03-16 19:10] #2772 closed

[2021-03-16 19:15] #2748 closed

[2021-03-16 19:23] code-asher commented on #2654
Hey, I'm sorry we didn't get back to you. I think you're right; cookies are only allowed to have certain characters so it needs to be encoded in some way. https://www.rfc-editor.org/rfc/rfc6265.txt

[2021-03-16 19:23] #2654 closed

[2021-03-16 19:30] code-asher commented on #1299
Closing since we'll be moving to OpenVSX.

[2021-03-16 19:30] #1299 closed

[2021-03-16 19:33] code-asher commented on #1663
Now that VS Code has their own web extension support and we've removed ours in favor of that this will need to be done upstream in the `CamelCaseNavigation` extension.

[2021-03-16 19:33] #1663 closed

[2021-03-16 19:38] code-asher commented on #1536
Fixed by https://github.com/cdr/code-server/pull/2680.

[2021-03-16 19:38] #1536 closed

[2021-03-16 19:56] code-asher commented on #1958
This should be resolved and we've got dependabot now to keep us up to date.

[2021-03-16 19:56] #1958 closed

[2021-03-16 19:59] code-asher commented on #1825
Should be fixed upstream now!

[2021-03-16 19:59] #1825 closed

[2021-03-16 20:00] eh8 commented on #1337
I can't speak beyond my own circumstances, but as I understand there many use Raspberry Pi/ODroid/etc either as standalone units or in k8'ed configuration as build servers which would suit code-server. It would be a presupposition to discount these platforms for lack of computing power/memory simply because there are small Raspberry Pis that exist.

It also looks like @RobertCNelson was able to tw

[2021-03-16 20:00] #1804 closed

[2021-03-16 20:20] code-asher commented on #1514
This was fixed with a VS Code update. :tada:

[2021-03-16 20:20] #1514 closed

[2021-03-16 21:51] jsjoeio commented on #1337
If it's trivial to add + maintain, then we'd be happy to support this.

@eh8 we'd happily review a PR if you submitted one (same goes to you @RobertCNelson). You two probably more than we do (or me at least).

Otherwise, we can try and take a look at this in the near future.

[2021-03-16 23:33] jsjoeio opened #2903 "[dev]: split up test & release into separate workflows"
Right now, we have one main workflow: [ci.yaml](https://github.com/cdr/code-server/blob/main/.github/workflows/ci.yaml)

When you have an issue with `fmt` or `lint`, you have to push up and run the entire workflow again. We'd like to split up the workflows into two:
1. main workflow - lint, fmt, test:unit
2. release + e2e workflow

We also don't need to run the docker or arm64 steps on every workf

[2021-03-17 01:41] david9991 commented on #2882
A similar case.
https://github.com/microsoft/vscode/issues/70665

[2021-03-17 03:26] david9991 commented on #2882
My problem was solved by handling the signal manually...

[code]

[2021-03-17 17:29] bpmct commented on #2849
It's worth knowing that this image is used quite heavily (we have about 50M docker pulls). We should consider perhaps adding a separate image ([or separate tag, like we do for Coder](https://hub.docker.com/r/codercom/enterprise-base/tags?page=1&ordering=last_updated)) for the Ubuntu image.

This adds additional overhead, but may avoid breaking CIs and apps that may deploy code-server with the :lat

[2021-03-17 17:58] jsjoeio commented on #2849
Good call @bpmct - i'll update the title to reflect that.

[2021-03-17 18:38] jsjoeio opened #2913 "Make Accounts icon visible when signed in with GitHub"
Right now, it sometimes works and sometimes doesn't and it's confusing (see: https://github.com/cdr/code-server/discussions/2568)

It works when you're signed in with GitHub so maybe only show it then.

Suggested by @@AurangAsif here: https://github.com/cdr/code-server/discussions/2568#discussioncomment-494759

[2021-03-17 19:31] #2898 closed

[2021-03-17 20:12] oxy commented on #2341
Hey, I think I managed to get it working - you may need to "reset" your `code-server` instance by removing `~/.local/share/code-server` (warning: this removes any custom configuration, all extensions, and your HTTPS certs if you asked code-server to manage them!), but I just tested this myself and Python *should* work now, fingers crossed.

I did some manual wrangling and downgraded the Jupyter ex

[2021-03-17 20:12] #2341 closed

[2021-03-17 21:00] JammSpread opened #2921 "Cannot 'Open Folder...' on code-server Welcome Page"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Chrome OS
- Remote OS: Debian GNU/Linux
- Remote Architecture: amd64
- `code-server --version`: 3.9.1 + 3.9.2

## Steps to Reproduce

1. Load up a fresh setup of `code-server` without specifying a folder or with `--ignore-last-opened` on Linux.
(You could also use the `Help: Welcome` command.)
2. Click `Open Folder` under the `Start` Section

[2021-03-17 21:20] Ki6an commented on #2341
was facing a similar issue,
by using the older version of python was able to fix the issue :
![image](https://user-images.githubusercontent.com/63173962/111539804-51aaf500-8794-11eb-8293-79bb2d7194a1.png)

next,  select this version `2020.5.86806`.

now I'm able to use `pylint` and `debugging` too

[2021-03-17 21:23] maresb commented on #2341
@Ki6an it's well known that it works with `2020.10.332292344`, so you shouldn't need to go that far back.

@oxy, could you please provide more details? What are the specific versions of the Jupyter and Python extensions that you're using?

[2021-03-17 22:41] jsjoeio commented on #2921
Thanks for opening this issue and adding all the details @JammSpread ! Yeah that's weird they have the `mac-only` class there. I'm guessing you're right. We'll look into this!

[2021-03-18 03:49] ddurham2 commented on #2783
@krivenkoz The latest python extension is now working in 3.9.1.  You might check if your issue is resolved.

[2021-03-18 05:11] nodesocket opened #2924 "Docker container (running in Kubernetes) does not persist apt packages installed"
## OS/Web Information

- Web Browser: Chrome 89.0.4389.90
- Local OS: macOS Big Sur
- Remote OS: Kubernetes using official Helm chart (https://github.com/cdr/code-server/tree/main/ci/helm-chart)
- Remote Architecture: x64 Linux
- `code-server --version`:

[code]

When I use Terminal in code-server to install packages such as `zsh` with `sudo apt-get install zsh` these changes are lost when I redep

[2021-03-18 05:38] nodesocket commented on #2924
Looks like we can just add `zsh` right after `dumb-init` here: https://github.com/cdr/code-server/blob/main/ci/release-image/Dockerfile#L6

[2021-03-18 07:55] oxy commented on #2924
Hi!

It's expected behavior for packages to be reset whenever code-server is upgraded, as every update pulls a fresh Docker image. As a solution, I'd probably recommend creating a personalize script or similar, and then re-running that script on every update.

In addition, mounting volumes on `/usr/bin` is a relatively unstable solution, as sometimes packages might install to `/opt`, or install li

[2021-03-18 08:16] oxy commented on #2921
Tested on Fedora 34 with the official code-server rpm right now, using either `--ignore-last-opened` or `Help: Welcome` and then clicking `Open Folder` worked on my environment, on both Chromium and Firefox.

Could this be Chrome OS specific?

[2021-03-18 08:18] oxy commented on #2921
@JammSpread could you view the page with inspect element and find out which `li` element is displayed - the macOS one or the Linux/Windows one (or is something else being displayed)?

[2021-03-18 09:57] phisanti commented on #2341
I totally agree with @Ki6an, but the problem is I cannot run ipython widgets in that version. More precisely, I would like to run the [nglview ](https://github.com/nglviewer/nglview) plug-in for my work. Do you know how I could run that widget in the `2020.5.86806 `version? Moreover, what is the difference between the two versions so that the `2020.5.86806 `works but `2020.10.332292344 `doesn't? I

[2021-03-18 11:07] oxy commented on #2758
Waiting on https://github.com/cdr/cloud-agent/pull/13 right now.

[2021-03-18 12:10] JammSpread commented on #2921
Sure, I'll try that soon.

[2021-03-18 13:00] AurangAsif commented on #2879
I was trying to log `locahost:PORT` and trying to get the link to change but realized it wouldn't work. I use railway and so I asked their team if they could inject a `RAILWAY_APP_URL` env var so I can log that + `/proxy/PORT` in development. Good news is, they are planning on adding it so railway users could use that.

[2021-03-18 15:24] oxy commented on #2341
Alright, latest versions that work for me are `v2021.2.633441544` and `2021.2.0` - and they should be the latest on our gallery.

[2021-03-18 15:38] jawnsy opened #2929 "Error starting Python extension under code-server"
## OS/Web Information

- Web Browser: Version 88.0.4324.182 (Developer Build) built on Debian bullseye/sid, running on Debian bullseye/sid (64-bit)
- Local OS: Debian testing, using code-server installed as a Progressive Web Application
- Remote OS: Arch Linux container image, running on Ubuntu host in GKE
- Remote Architecture: Coder Enterprise
- `code-server --version`: 3.9.0-1 06c7e17674bd72c1b

[2021-03-18 15:43] jawnsy opened #2930 "Error with getLayoutMap logged to Log (Window)"
## OS/Web Information

- Web Browser: Version 88.0.4324.182 (Developer Build) built on Debian bullseye/sid, running on Debian bullseye/sid (64-bit)
- Local OS: Debian testing, using code-server installed as a Progressive Web Application
- Remote OS: Arch Linux container image, running on Ubuntu host in GKE
- Remote Architecture: Coder Enterprise
- `code-server --version`: 3.9.0-1 06c7e17674bd72c1b

[2021-03-18 15:47] hjfreyer commented on #1105
FYI, I'm running into this when trying to use an extension that explicitly calls `editor.action.clipboardPasteAction`.

[2021-03-18 15:50] phisanti commented on #2341
I have just tried  `Python v2021.2.633441544 `and `Jupyter 2021.2.0 ` (using `code-server 3.9.1`) as @oxy says and I can confirm that it works. However, I might seem a bit thick but I don't understand why. I thought that code-server depended on open-vsix and they have not released a new version, so why is that suddenly now works?

[2021-03-18 15:58] code-asher commented on #2924
My general sense is that it would be better to build from code-server's Docker image and add the software you want on top, or the personalize script as you mentioned.

Wouldn't changing the shell to zsh from bash require some setup anyway? If there's already setup it feels like zsh could (should?) be installed during that same setup.

[2021-03-18 16:05] code-asher commented on #2930
Ah yeah this happens when code-server is in an iframe. I haven't investigated yet though if it's something that can be worked around. I'm actually not even sure it causes any issues.

[2021-03-18 16:08] abhishekkrthakur commented on #2341
doesnt work for me. im on 3.9.1 and updated python extension to 2021.2.633.....

[2021-03-18 16:09] jsjoeio commented on #1105
Sorry to hear that @hjfreyer - do you mind providing your OS information and reproduction steps? You can see an example in the bug-report issue template [here](https://github.com/cdr/code-server/issues/new?assignees=&labels=&template=bug-report.md&title=)

[2021-03-18 16:10] code-asher commented on #2929
Fingers crossed this might be fixed. :crossed_fingers:  https://github.com/cdr/code-server/issues/2341#issuecomment-801408467

[2021-03-18 16:24] atn commented on #2913
+1 to this, the user icon that doesn't work could mislead people into thinking that there is something wrong with their instance (happened to me and i stumbled upon this issue)

[2021-03-18 16:39] jawnsy commented on #2930
Ah OK, this seems like something we should resolve in the Coder side by avoiding iframing, I'll close this in favor of us removing the iFrame then

[2021-03-18 16:39] #2930 closed

[2021-03-18 17:45] nodesocket commented on #2924
@code-asher thanks for the reply, appreciate it.

I am not suggesting we change the default shell, just that `zsh` is pre-installed for users that wish to use `zsh` and it being installed persists across Docker container upgrades. All the default shell configuration should be in the `$HOME` directory so that all persistists already as it's mounted as a volume.

See my PR https://github.com/cdr/cod

[2021-03-18 18:09] blaylockbk opened #2932 "Extension Request: Color Manager"
- [ ] Extension name:  Color Manager
- [ ] Extension GitHub or homepage: https://marketplace.visualstudio.com/items?itemName=RoyAction.color-manager

[2021-03-18 18:11] sr229 commented on #1337
This is a valid reason though it's pretty hard to compile for ARMv32 considering there aren't any more public builders offering this, and the fact it's a little hard to configure the CI to do the compile steps for it (only for it to break really horribly).

[2021-03-18 21:15] rushtehrani commented on #2341
It's also working for me with `code-server 3.9.1` and `ms-python 2021.3.658691958`.

[2021-03-18 21:45] ricreis394 commented on #1448
Any update on this?

[2021-03-19 15:46] shiv123shiv123 opened #2935 "Builtin Terminal not opened"
When i try to open terminal then it automatically close and give this error notice in notification

`The terminal process failed to launch: A native exception occurred during launch (Cannot find module '../build/Release/pty.node' Require stack: - /usr/local/share/.config/yarn/global/node_modules/code-server/lib/vscode/node_modules/node-pty/lib/unixTerminal.js - /usr/local/share/.config/yarn/global

[2021-03-19 16:07] jsjoeio commented on #1448
@ricreis394 do the solutions above not work for you? If not, we can take a look into this again.

[2021-03-19 16:09] jsjoeio commented on #2935
@shiv123shiv123 can you please fill out the bug report template? It's difficult to know what could be the issue without having that information (though it looks like you're missing a module potentially). That will help us help you faster! Thank you!

[2021-03-19 16:16] code-asher commented on #2924
Ah yeah I didn't mean to imply that we would be changing the default shell. I meant that if a consumer of code-server wants to change their default shell my initial reaction is that they should also be responsible for installing said shell (whether that's zsh, fish, etc).

I think my concern is that we don't have a clear metric for determining what gets into the default image and what doesn't. For

[2021-03-19 16:30] ricreis394 commented on #1448
@jsjoeio when I click to open PlatformIO Home Page, the UI tries to load a frame which is pointer to 127.0.0.1:<port>, which obviously cannot load.

The commands used in command line are as follows:
`pio home --host <internal_docker_ip> --port 8010`
`pio home --host localhost --port 8010`

These 2 above loads something, but not completely, using the subsubdomain port like: `8010.code.example.com`

[2021-03-19 16:31] shiv123shiv123 commented on #2935
Os - kali-distro installed on termux with proot
Desktop - xfce4
Arch. - armhf
Code-server - 3.9.1
Installed with yarn and npm
All thing work good but builtin terminal not open, the module pty.node already exist.

[2021-03-19 17:45] jsjoeio commented on #1448
Ah okay! Hmm..I am not familiar with PlatformIO.

Would it be possible for you to provide reproduction steps using the latest version of code-server? If you need an example, look at our [bug report template](https://github.com/cdr/code-server/issues/new?assignees=&labels=&template=bug-report.md&title=).

With that, I'd be happy to take a closer look for you.

[2021-03-19 17:48] jsjoeio commented on #2935
If you're using Termux, I'm assuming you followed the docs [here](https://github.com/cdr/code-server/blob/main/docs/install.md#termux).

Hmm.. what version of Node are you using?

[2021-03-19 18:45] shiv123shiv123 commented on #2935
I did not install code server in termux directly instead in kali distro which install in termux with proot and using script you given in readme.md
`Node version -- v12.21.0`
`Yarn version -- 1.22.10`

[2021-03-19 19:05] jsjoeio commented on #2935
Ah okay. Hmm...can you run code-server with the `--log debug` flag? i.e. `code-server --log debug` and post the logs here?

[2021-03-19 20:26] shiv123shiv123 commented on #2935
I think you need this?
` [2021-03-19T20:13:29.670Z] info  code-server 3.9.1 e0203f2a36c9b7036fefa50eec6cf8fa36c5c015
[2021-03-19T20:13:29.677Z] info  Using user-data-dir ~/.local/share/code-server
[2021-03-19T20:13:29.781Z] info  Using config file ~/.config/code-server/config.yaml
[2021-03-19T20:13:29.781Z] info  HTTP server listening on http://127.0.0.1:8080
[2021-03-19T20:13:29.782Z] info    - A

[2021-03-19 23:10] ricreis394 commented on #1448
## OS/Web Information

- Web Browser: Google Chrome Version 89.0.4389.90 (Official Build) (64-bit)
- Local OS: Windows 10
- Remote OS: linuxserver (maybe alpine?)
- Remote Architecture: x86-64
- `code-server --version`: 3.9.1 e0203f2a36c9b7036fefa50eec6cf8fa36c5c015

## Steps to Reproduce

1. Install PlatformIO extension
2. Go to PlatformIO sidebar section, click PIO Home -> Open

## Expected

It

[2021-03-20 13:15] caiych opened #2936 "Requesting extension "ngrok for VSCode""
- [x] Extension name: ngrok for VSCode
- [x] Extension GitHub or homepage: https://github.com/philnash/ngrok-for-vscode

IMO this is even more useful in code-server than VSCode, since code-server can't do port forwarding like VSCode remote development.

[2021-03-20 16:36] rafipiccolo opened #2937 "500 VS Code failed to load. timed out go home"
after one day the server is always down, and the healthcheck says all is good... :)

[code]

i get this message on the screen : 500 VS Code failed to load. timed out go home
the errors says timeout, but the timeout i see is very fast (<1 sec)
i have no error in chrome console except the error 500 on /

i have nothing in the logs, here they are :
[code]

## OS/Web Information

- Web Browser: chrome

[2021-03-20 19:08] oxy commented on #2937
I'm not entirely sure what's going on here - I don't run `code-server` in Kubernetes, but I've run `code-server` overnight, or with intensive tasks in the background, on my laptops with no issues.

Do you think it could be traefik?

[2021-03-20 19:14] oxy commented on #2935
This looks like a build issue - I think Kali is based on debian, so with some luck you should be able to just grab our arm64 `.deb` and install it. Can you try that and report back?

[2021-03-20 19:18] oxy commented on #2341
We were hoping that we could switch from our internal gallery to OpenVSX and then hope upstream/OpenVSX could sort out the versioning issues; but then I decided to just manually override the versions we're serving right now, since we're blocked on web extension support for OpenVSX.

I didn't expect 2021.3 to work as that depends on VSCode 1.54, which we're yet to update to.

[2021-03-20 19:22] oxy commented on #2929
I think this might be because the Python extension version we ship right now needs code-server 3.9.1/VSCode 1.53.
Can you try on the latest version?

[2021-03-20 19:23] shiv123shiv123 commented on #2935
I tried that before but this version i.e arm64 gives error 500 when open it in browser. Seems it doesn't support armhf kali.

[2021-03-20 19:42] rafipiccolo commented on #2937
Thanks for your reply.
This traefik instance runs around 60 other projects simultaneously on the same machine for dev purpose with success. There is no downtime. All is fine.

Only this error 500 every morning. Every night I run a 6 hour big script to do all sort of maintenance. Maybe vscode ran out of memory during this process and can't recover ?
Can I see debug logs ? How can I help. It's annoy

[2021-03-20 20:00] rafipiccolo commented on #2937
I guess I will replace the health check to :

[code]

Since the / returns a status code of 500 when it is dead it is a better health detector :p

Im still open to suggestions on debugging.

Or someone can close the issue.

[2021-03-21 01:00] oruharo opened #2938 "Extension Request: Diff Folders"
- [ ] Extension name:Diff Folders
- [ ] Extension GitHub or homepage:https://github.com/L13/vscode-diff

[2021-03-21 23:00] wil-code commented on #1455
I can confirm that issue will be solved with iPadOS 14.5 on my iPad Air (4th generation).

[2021-03-22 07:19] wzrzt commented on #2341
May I know how to install ms-python 2021.3.658691958 into code-server 3.9.1, please?
I can't see this version on my code-server 3.9.1. And I downloaded it from vscode-extension-market and it can't be installed and told me not compitable with vscode v1.53.2.

[2021-03-22 11:46] avaidyam commented on #1944
@nhooyr Has there been any progress on this? If not, where would the relevant code be so that I may take a peek?

[2021-03-22 15:34] code-asher commented on #2937
VS Code is spawned as a child process when its page is accessed and if the handshake doesn't complete within 10 seconds you get this "timed out" message. So possibly this is related to resources although I'm not familiar enough with how spawns and Node's built-in IPC work to really say.

Maybe it's taking longer than 10 seconds except you mentioned it takes less than one second so that's quite str

[2021-03-22 15:52] code-asher commented on #1944
We haven't done anything here yet.

Authentication for the path proxy:

https://github.com/cdr/code-server/blob/32d882a50740e200eb1ba169d3a0bdcf2eeffc1e/src/node/routes/pathProxy.ts#L25

Authentication for the domain proxy:

https://github.com/cdr/code-server/blob/32d882a50740e200eb1ba169d3a0bdcf2eeffc1e/src/node/routes/domainProxy.ts#L42

A command line flag feels like an unfortunate way to imple

[2021-03-22 16:14] avaidyam commented on #1944
@code-asher I agree with you! However, I think it's still better to have a stopgap `--no-proxy-auth` flag than to not support it at all. Or perhaps, `--proxy` vs. `--proxy-without-auth`.

[2021-03-22 16:21] rushtehrani commented on #2341
I went back and checked and it looks like even though I explicitly set the version to `2021.3.658691958`:

[code]

In the IDE it's showing that `2021.2.633441544` is installed:

![image](https://user-images.githubusercontent.com/1211823/112022649-bb5a3480-8aef-11eb-8f22-85c78fe815d6.png)

So `--install-extension` probably fell back to the latest supported version.

The good news is `2021.2.6334415

[2021-03-22 17:07] hjfreyer commented on #1105
Repro steps are in https://github.com/yzhang-gh/vscode-markdown/issues/917.

## OS/Web Information

- Web Browser: Chrome
- Local OS: Chrome OS 89.0.4389.82 (Official Build) (64-bit)
- Remote OS: Debian (not exactly, but close enough)
- Remote Architecture: amd64
- `code-server --version`:

[code]

[2021-03-22 17:23] jsjoeio commented on #1448
Awesome! Thanks so much for the detailed repro steps @r0zzy5 - we'll take a look at this in the next milestone/sprint!

[2021-03-22 18:04] 8thHalfHour opened #2943 "Extension Sidebar and Menubar not displayed"
## OS/Web Information

- Web Browser: Chrome 87.0.4280.77 (Official Build) stable (64-bit), Safari iPadOS v14.3, and Brave v1.24 (21.3.17.17)
- Local OS: iPadOS v14.3
- Remote OS: Linux Mint 20.1
- Remote Architecture: Intel NUC
- `code-server --version`: 3.91

## Steps to Reproduce

1. Load code-server from the cloud URL in any browser on the iPad (the ones I’ve tried are above) -OR- by launching

[2021-03-22 20:16] #2833 closed

[2021-03-22 21:16] jsjoeio commented on #2924
Closed via #2925 2925

[2021-03-22 21:16] #2924 closed

[2021-03-23 01:37] tbhova commented on #1448
+1 to this issue.

The bug mentions a reverse proxy, but I don't think is necessary to repro. I can repro this behind my Traefik reverse proxy or at <server_local_ip>:port. I did not test whether localhost works because my server is headless.

I have a [Dockerfile here](https://github.com/tbhova/home-server/blob/master/vscode/Dockerfile) that installs PlatformIO automatically and reproduces the is

[2021-03-23 04:09] ddurham2 commented on #2341
@rushtehrani, that's probably due to #2626

[2021-03-23 06:41] vnagarnaik opened #2945 "Extension Request: Dance"
- [x] Extension name: Dance
- [x] Extension GitHub or homepage: https://github.com/71/dance

[2021-03-23 09:51] HalliHalloSchatz commented on #2642
No, I have found a answer, that there is no support on code-Serer and they wait, that the native pdf handler will handle this.

[2021-03-23 15:31] code-asher commented on #1944
I'm on the fence; I would definitely rather not have to maintain a feature we only added as a stop-gap. :smile:

I'm also quite wary of a feature that disables auth entirely for the proxy since that defeats having auth at all (you can proxy code-server itself, for example).

[2021-03-23 15:39] code-asher commented on #1944
We could have the flag take port numbers instead but personally I feel doing it properly from the get-go is the right answer. I'll go ahead and add this to the next milestone; if someone doesn't take it in the next week or so I'll put it on my todo list. It'd be great to have our own built-in plugin anyway for adding other features into VS Code that we've been wanting.

[2021-03-23 15:43] code-asher commented on #1944
Actually proxying to code-server wouldn't let you in, you'd just get the login page...not sure what I was thinking there. I do think it's sketchy though since you can access any port on the machine without authenticating which sounds like a security nightmare. :laughing:

[2021-03-23 15:45] avaidyam commented on #1944
@code-asher I'm running a multi-user VSCode setup (using code-server on Docker Swarm) sitting behind Traefik (a load balancer), so this is where I'm coming from. Right now I manually create a rule for say, `p3000.mydomain.com` to point to port 3000 on the instance (and `mydomain.com` points to port 8080 on the instance).

[2021-03-23 19:44] #778 closed

[2021-03-24 01:34] cater111 opened #2954 "How can I make it customized"
How can I make it customized

[2021-03-24 03:17] Miguelklappes commented on #1106
THANK YOU SO MUCH!

[2021-03-24 05:23] #2954 closed

[2021-03-24 06:07] noverby commented on #1106
@Miguelklappes If you are not being sarcastic, why did you give my comment thumbs down?

[2021-03-24 14:27] phisanti opened #2957 "R Tools Extension for Code-Server"
I would like to know if it is possible to add R Tools to the marketplace. I see that there are already many of the tools, so I am only missing the possibility to plot graphics within the VScode as it happens in the VS code. Normally, VS code prompts a new window, but I assume this is not possible when working on Code-server. Thus, I was wondering if someone could help to port this app or maybe cre

[2021-03-24 14:57] Miguelklappes commented on #1106
By mistake!! I'm not being sarcastic haha

[2021-03-24 16:08] Miguelklappes commented on #944
What is the default command now? code-server doesn't work and I can't find anything in the docs, not sure if I'm being overly stupid here

[2021-03-24 18:48] jsjoeio commented on #944
@Miguelklappes I figured it would be easier to show you. Here is a demo:

https://user-images.githubusercontent.com/3806031/112367019-a8ce2f80-8c96-11eb-8b6c-d32422abc6f8.mp4

Let us know where you looked in the docs so we can update it!

[2021-03-24 18:56] jsjoeio opened #2960 "[dev]: replace `hub` with `gh`"
As @oxy [pointed out](https://github.com/cdr/code-server/pull/2952#discussion_r600780289), we're currently using a mix of `hub` and `gh` in our build scripts.

- https://github.com/cdr/code-server/blob/main/ci/build/release-github-assets.sh#L18
- https://github.com/cdr/code-server/blob/main/ci/build/release-github-draft.sh#L10

We should replace `hub` with `gh` and use one consistently throughout

[2021-03-24 23:30] Miguelklappes commented on #944
Thank you so much for the video Joe! the thing is "code-server" command wasn't returning anything, even though it was installed (through a one-click app in Linode). So I manually installed it and everything works great now.

Again, thanks for your help!

[2021-03-24 23:46] jsjoeio commented on #944
Hooray! Glad to hear it was an easy fix. No problem!

[2021-03-25 00:27] jawnsy commented on #2849
As a general approach, I think we should be using separate images (not separate tags) because there's only one special `latest` tag, and the different image variants aren't that similar (e.g. an image built `FROM debian` doesn't have that much in common with one built `FROM ubuntu`)

Something to note as well is that Debian is in the [final stages of their release process for Debian 11 (`bullseye`

[2021-03-25 00:47] jsjoeio opened #2963 "[dev]: add e2e test for dev workflow (yarn watch)"
After hours of debugging and a false positive with a dependabot PR, we've come to the conclusion that we should have testing in place for our dev workflow: `yarn watch`.

This will prevent issues like https://github.com/cdr/code-server/pull/2962 from happening again.

One way to achieve this is by:
- adding a new script called `yarn test:watch` which is similar to `yarn test:e2e`
- add new CI step

[2021-03-25 08:15] PatrickDerichs opened #2964 "Vulnerabilitiies in code-server"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Ubuntu 20.04
- Remote OS: Ubuntu 20.04
- Remote Architecture: 64-bit
- `code-server --version`:

## Steps to Reproduce

1. Build an image with the latest code-server
2. Run Trivy with said image

## Expected

No vulnerabilities found

## Actual

Trivy finds the following vulnerabilities:

[code]

## Notes

This issue can be reproduced in VS

[2021-03-25 10:20] RoboMagus commented on #1448
I've been struggling with the same issue for a while as well. What worked for me is quite a blunt method, but I've done a global replace for all occurrences of '127.0.0.1' in the platformio-core directory (/config/.platformio) with '0.0.0.0'.
This together with the exposed 8010 port as in @tbhova's Dockerfile and fixing this port to that value in the platformio-ide settings (Platformio-ide: Pio Ho

[2021-03-25 14:02] ediphy-dcottrell commented on #2675
Can you confirm what that is? Version of what? Extension? code-server?

[2021-03-25 14:07] ediphy-dcottrell commented on #2929
Can you confirm context of "versoin"? Version of code-server or version of extension?

[2021-03-25 15:31] stefanba3 commented on #2675
The extension. I also had to turn off automatic updates for it.

[2021-03-25 16:38] jsjoeio commented on #2964
Thanks for opening this issue @PatrickDerichs and for providing repro steps! We'll fix these vulnerabilities!

[2021-03-25 16:41] jsjoeio commented on #2929
@ediphy-dcottrell I believe here @oxy is referring to the latest version of code-server: 3.9.1

[2021-03-25 17:51] ntimo commented on #2276
@outermeasure @code-asher Do you have any news about this? :) This would be super important since for example when your run Ansible from Code Server and your connection for what ever reason breaks being able to reconnect and still having the open terminal would be quite nice.

[2021-03-25 22:41] jsjoeio opened #2970 "[dev]: run macos-amd64 job on release PRs"
Due to the weirdness of our release process, we overlooked the changes to our CI workflow when we merged #2866.

We turned off CI for `macos-amd64` and only run it on the default branch.

Unfortunately the release process relies on the artifacts created during a release PR (example: #2953) when uploading release assets. This is a limitation in our workflow that we need to address.

Current workaro

[2021-03-25 23:36] aptalca opened #2972 "Yarn package version not updated"
Hi,

I noticed the yarn package version is still 3.9.1
Is it forgotten or was there an issue with the update?
In the past the update on there was more or less in sync with the GitHub releases.

Thanks

[2021-03-25 23:38] jsjoeio commented on #2972
Thanks for being so quick to notice @aptalca! Yes, when we released `3.9.2` something broke in our `publish` workflow: https://github.com/cdr/code-server/actions/runs/688144994

Once https://github.com/cdr/code-server/pull/2968 passes and we merge it, I'm going to trigger a manual publish, which should publish the new version to `npm`, etc.

[2021-03-25 23:57] nodesocket opened #2973 "New version 3.9.2 not pushed to docker registry codercom"

[2021-03-25 23:59] jsjoeio commented on #2973
Thanks for reporting! We're aware and working on it. Issue with the publish workflow.

See: https://github.com/cdr/code-server/issues/2972#issuecomment-807738553

[2021-03-26 00:03] aptalca commented on #2972
I wish I could take credit 😅 Our ci notified me: https://ci.linuxserver.io/blue/organizations/jenkins/Docker-Pipeline-Builders%2Fdocker-code-server/detail/master/218/pipeline

It is triggered by GitHub releases but uses yarn to install. Perhaps we should change it so it's triggered by yarn registry instead.

[2021-03-26 00:06] jsjoeio commented on #2972
Woah! Super cool that y'all have that set up.

Yeah that could be safer. Though we are working on improving our CI flow! This release today has showed the process is more fragile than it should be 😅

[2021-03-26 01:21] jsjoeio commented on #2972
Heads-up: we're still running into issues with our publish workflow and scripts. We will continue looking into this first thing tomorrow.

[2021-03-26 01:21] jsjoeio commented on #2973
Heads-up: we're still running into issues with our publish workflow and scripts. We will continue looking into this first thing tomorrow.

[2021-03-26 01:31] nodesocket commented on #2973
Ok. Thanks 👍🏻

[2021-03-26 06:48] springhack opened #2975 "New 3.9.2 not work on iPadOS"
## OS/Web Information

- Web Browser: iPad Safari
- Local OS: iPadOS 14.4.1
- Remote OS: Ubuntu Debian GNU/Linux 9.13 (stretch)
- Remote Architecture: amd64
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce

1. Open safari, navigate to server url

## Expected

1. Show UI after login

## Actual

1. Just blank after login

## Screenshot

## Notes

Seems

[2021-03-26 09:31] springhack commented on #2975
Update:
1. Not work on safari macos 11.2.3 (20D91) either, with the same error
2. Patch to work like this
[code]

[2021-03-26 10:50] PatrickDerichs commented on #2972
Oh, this is interesting! I noticed that it affects your install script as well, but I am not sure if it is related. We build an image with code-server with a reverse proxy and I noticed it kept building with version 3.9.1. I was able to work around it by passing `--version 3.9.2` to forcefully install the new version.

[2021-03-26 12:18] baufometic commented on #1374
You're absolute legend for this. I was pulling my hair out. Thanks.

[2021-03-26 12:19] baufometic commented on #1374
@whtjs You're an absolute legend. I was pulling my hair out. Thanks.

[2021-03-26 15:15] sh1luo commented on #2975
using chrome on ipadOS gets the same error,just blank. But everything goes well on Android OS.

[2021-03-26 16:35] jsjoeio commented on #2975
Oh no! Thank you @springhack for the detailed report and the patches.

And thank you @sh1luo for your extra notes as well!

We'll see what we can do to fix this (and prevent it from happening again). cc @code-asher

[2021-03-26 16:36] jsjoeio commented on #2972
Interesting! Thanks for the report @PatrickDerichs - we'll have to confirm once we get this fixed if that's a bug as well.

[2021-03-26 17:48] czho opened #2982 "Email change with oauth makes all commits made from code-server to show up as someone else on github."
## OS/Web Information

- Web Browser: chrome
- Local OS: ubuntu
- Remote OS: ubuntu
- Remote Architecture: x64_86
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. link account to GitHub
2. change email
3. commit something
4. change back email
5. commits now show up as a different person

if testing this id suggest doing it on an alt so this bug does not affect your account

## Expected

[2021-03-26 17:51] jsjoeio commented on #2982
That would definitely freak me out as well. Thanks for the report @czho! I've added this to the "On Deck" milestone which means it should get worked on soon (next milestone or after).

[2021-03-26 18:03] czho commented on #2982
Some more info on this, there is another part of this issue, in my source control section it is impossible for me to commit it just says git.name and git.email doesn't exist so I have to use the terminal to commit. This might go inline with maby somewhere the cdr server loses track of my email and then sets the other users profile as my email in git just for the terminal.

[2021-03-26 18:06] code-asher commented on #2982
Could you clarify the second step? Are you changing your email on GitHub or with git? (https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/setting-your-commit-email-address#setting-your-commit-email-address-in-git)

[2021-03-26 18:28] code-asher commented on #2970
Yeah I think maybe instead of releasing off a PR we could release off a commit in main.

[2021-03-26 18:40] code-asher commented on #2276
Nope, we haven't done anything here yet.

[2021-03-26 18:42] aptalca commented on #2972
Thanks for the heads up. We changed the trigger to check the yarn registry instead so we don't have hourly failing builds anymore. Once you fix your pipeline and push to yarn, our ci should pick it up.

Thanks

[2021-03-26 18:45] jsjoeio commented on #2972
The issue has been resolved and `3.9.2` is now available on the npm registry.
<img width="452" alt="image" src="https://user-images.githubusercontent.com/3806031/112678848-aef41580-8e28-11eb-8bdf-55ca536e114b.png">

We've also written a regression report which you can read here: https://github.com/cdr/code-server/discussions/2983

[2021-03-26 18:45] #2972 closed

[2021-03-26 18:46] jsjoeio commented on #2973
The issue has been resolved and `3.9.2` is now available on the Docker registry.

<img width="1301" alt="image" src="https://user-images.githubusercontent.com/3806031/112678985-df3bb400-8e28-11eb-941a-bf999732b701.png">

We've also written a regression report which you can read here: https://github.com/cdr/code-server/discussions/2983

[2021-03-26 18:46] #2973 closed

[2021-03-26 18:47] jsjoeio commented on #2970
Good call! That would save a lot of trouble.

[2021-03-26 19:23] avaidyam commented on #2975
@jsjoeio I can confirm this happens in Safari on macOS 11.

[2021-03-26 19:41] AurangAsif opened #2984 "Logout functionality not working as expected"
## OS/Web Information

- Web Browser: Chrome@86.0.4240.199 (chrome:version)
- Local OS: Chrome OS (Chromebook)
- Remote Host: https://railway.app
- Remote OS: Debian
- Remote Architecture: `dpkg --print-architecture`: amd64
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. Navigate to url where `code-server` is running
2. Sign in
3. Choose `File` > `Log out`

## Expected
The page should

[2021-03-26 20:09] jsjoeio commented on #2984
Hmm...I'm not able to reproduce when running code-server locally off `main`.

https://user-images.githubusercontent.com/3806031/112687253-76f2cf80-8e34-11eb-9f02-72497d749871.mov

I will investigate further.

[2021-03-26 22:17] 8thHalfHour commented on #2943
@jsjoeio, I forgot to ask if you need screenshots?

[2021-03-26 22:37] jsjoeio commented on #2943
If you don't mind, that would be helpful! Even a screenrecording (since that's built-in on iPad now)

[2021-03-26 23:06] jsjoeio commented on #2984
I installed `3.9.2` using `yarn global add code-server` and could not reproduce.

https://user-images.githubusercontent.com/3806031/112701203-40757e80-8e4d-11eb-975a-51d3840d5032.mov

How are you starting code-server? Do you have a password set or are you running with `--auth none`? (Apologies if that's a silly question)

[2021-03-26 23:09] jsjoeio commented on #2984
And can you check the browser logs after you hit Log out? There might be something there too

[2021-03-26 23:23] nodesocket commented on #2973
@jsjoeio I am now seeing my running `3.9.2` broken after I login. After I login, I see websocket connections failing.

[2021-03-26 23:31] jsjoeio commented on #2973
@nodesocket hmm...wonder if it's related to this: https://github.com/cdr/code-server/issues/2975

can you please open a new issue (bug report)?

[2021-03-26 23:55] czho commented on #2982
What I did was remove my github email, then change the main email for it. Just a note i reinstalled the os on my server and then reinstalled code-server so its nothing involving git it self, rather for some reason code-server is messing with git in some way.

[2021-03-26 23:58] nodesocket commented on #2975
Just upgraded to `3.9.2` running in Kubernetes via Helm on Chrome and seeing this.

[code]

[2021-03-27 01:14] nodesocket commented on #2975
The root of the error seems to be:

[code]

Anybody else confirm? Running `Chrome 89.0.4389.90`

[2021-03-27 01:43] AurangAsif commented on #2984
I have the `HASHED_PASSWORD` env var set.
Here are the devtools logs after the refresh:
[code]

[2021-03-27 04:23] sh1luo commented on #2975
sed: can't read /usr/lib/code-server/out/node/routes/vscode.js: No such file or directory.

Oh,,,,,no effect

[2021-03-27 06:01] JayGhughriwala commented on #186
Yeah I am Facing This Same Error after that **### **I am Copied My Whole code and Create a new file and then Paste That code here and Now I am Compile with Code-Runner Extension it will Compile For me,**** I don't know Why Happening With this Code Runner Extension, But I am **Trying this Check This Method in Your PC it will Work?**

[2021-03-27 07:47] wiserain commented on #2585
I discovered this issue repeating following logs

[code]

It seems losing/denying socket connection and retrying, which results in improperly working extensions (for example cannot track git difference) and some other things.

Interestingly it is okay with HTTP direct connection. So the problem is with HTTPS reverse proxy (traefik in my case). However, there's no luck for any workarounds. I will t

[2021-03-27 10:00] alvarolb opened #2985 "Log out button should not appear if not using password"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Linux Ubuntu
- Remote OS: Linux Ubuntu
- Remote Architecture: x64
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. Run code-server without password
2. Click on Menu button
3. Log out button is there but has no sense as not using password

## Expected

Log out button should not appear, as the installation is not using a password

#

[2021-03-27 18:09] qorrect commented on #2929
I was able to get Python working with the production version of code-server by doing these in order

1. Disable extensions.autoUpdate label ( Extensions: Auto update )
2. Downloading version ms-toolsai.jupyter-2020.11.358541065 of jupyter and installing it ( you can google the whole string )
3. Downloading version ms-python.python-2020.11.358366026 of python and installing it

This project is so g

[2021-03-27 20:17] DavidTWynn commented on #2341
After I set an env variable to install python3 I could install 2021.3 of the ms-python extension.

https://github.com/linuxserver/docker-mods/tree/code-server-python3
DOCKER_MODS=linuxserver/mods:code-server-python3

[2021-03-28 03:24] bthoman commented on #2975
@sh1luo I had a similar issue.  Used: find / -name vscode.js to find out my files were in a slightly different path.  The patch worked for me after adjusting the path to the vscode.js file.

[2021-03-28 06:26] sh1luo commented on #2975
thank you.Using your method, after editing this file everything goes well on iOS.

[2021-03-29 00:10] 8thHalfHour commented on #2943
Okay, so I think I may have figured out where the problem is occurring. Here is an image taken in the browser when code-server is run with `code-server --link`:

![IMG_0094_sm](https://user-images.githubusercontent.com/44852729/112772744-69317b80-8fe7-11eb-85e1-5665cbafebd1.jpg)

However, when run with the `--user-data-dir` switch, the sidebar disappears:

![IMG_0095_sm](https://user-images.github

[2021-03-29 03:28] wiserain commented on #2585
The issue described above is nothing to do with reverse proxy solution. It is sorted out by re-installation using npm from scratch. In my guess, something is broken with pre-built deb package for ubuntu.

[2021-03-29 04:15] woensug-choi commented on #2975
Took very long to find this issue post. This fix worked for me too.

[2021-03-29 07:59] ismail commented on #2984
FWIW I can also reproduce with 3.9.2, also using hashed-password (in config).

[2021-03-29 09:00] tauceti82 commented on #1566
Thanks! yes that's what I did and it works on desktop browser but on ipad I only get:
 error vscode Handshake timed out {"token":"cfc40654-0ee9-4a06-ac12-2509e50884a0"}

and a blank screen :(

ca certificate is imported in ios and trust root enabled.
It also works for other server certificates I have

[2021-03-29 09:08] parslov commented on #2734
Any update on this?

[2021-03-29 15:11] fadi283 commented on #2975
Thank You , I had the same issue.
code server v3.9.2
ipad prt 12.9 4thg os 14.4.2
safari & chrome
It works for me now

[2021-03-29 16:51] jsjoeio commented on #186
Hi @JayGhughriwala can you please open a separate issue (reference this issue) and we can look into it?  Thank you!

[2021-03-29 16:52] jsjoeio commented on #2985
Good call! We didn't consider that when adding the Log out feature. Thanks for bringing this to our attention! Added to an upcoming milestone.

[2021-03-29 16:55] jsjoeio commented on #2943
Now that's really strange...Okay yes, this is super helpful. Thank you!

[2021-03-29 16:58] jsjoeio commented on #2984
Interesting... Maybe it's with the way we store/clear the hashed password 🤔

Thanks for reporting as well @ismail! @AurangAsif sorry, I should have been more specific. Can you post the browser logs? Wondering if we're seeing any errors there related to Log out

[2021-03-29 16:59] jsjoeio commented on #1566
Hi @tauceti82 - sorry to hear you're still having issues! Feel free to open a new bug report issue and we'll see if we can help. Otherwise, feel free to open a Discussion if you need further help!

[2021-03-29 17:00] jsjoeio commented on #2734
Nothing so far @parslov - are you able to share any logs or anything you're seeing? We'll add this to an upcoming milestone and investigate.

[2021-03-29 17:01] AurangAsif commented on #2984
By browser logs do you mean Chrome logs, `code-server` logs or something else?

[2021-03-29 17:07] jsjoeio commented on #2984
Chrome logs, exactly! Sorry, I need to work on being more specific as you can see 😅

[2021-03-29 17:09] jsjoeio commented on #2975
Thanks for the feedback! I'll pin the issue until we can fix it.

[2021-03-29 17:24] jsjoeio opened #2991 "Document error communication with community"
We had an issue with our release process last week (see [regression report](https://github.com/cdr/code-server/discussions/2983)) and failed to communicate this to the community.

We want to improve that by:
- creating a process for communicating errors to community
- documenting in `docs/MAINTAINERS_HANDBOOK.md`

[2021-03-29 17:27] jsjoeio opened #2992 "Document scripts used in release process"
Document scripts used in release process and how they work.

## Notes
- some of this exists in `ci/README.md` but should probably go into the `docs/MAINTAINERS_HANBOOK.md`

_Issue created as suggestion action from [regression report](https://github.com/cdr/code-server/discussions/2983)_

[2021-03-29 17:29] jsjoeio opened #2994 "Write tests for dev and build scripts"
We should have tests for our scripts - both the ones used in CI and the ones used during the release and publish process.

We can leverage a framework called [bats](https://github.com/sstephenson/bats).

_Issue created as suggestion action from [regression report](https://github.com/cdr/code-server/discussions/2983)_

[2021-03-29 17:30] jsjoeio opened #2995 "Refactor release process: attaching artifacts"
The current release process feels brittle (from a maintainer's POV). We should improve it in terms of attaching artifacts to a release.

_Issue created as suggestion action from [regression report](https://github.com/cdr/code-server/discussions/2983)_

[2021-03-29 17:32] jsjoeio opened #2996 "Replace release tokens (npm, Docker) with bot tokens"
For part of the publish workflow, we're still using API tokens from previous maintainers. These should be replaced with official Coder bot tokens.

_Issue created as suggestion action from [regression report](https://github.com/cdr/code-server/discussions/2983)_

[2021-03-29 17:34] jsjoeio opened #2997 "Document how to manually release a new version of code-server"
We ran into issues with our release flow the other week. Yet, we didn't have the proper documentation in place to trigger a manual release.

- Document manual release flow in `docs/MAINTAINERS_HANDBOOK.md`
- Ensure all maintainers (and one backup maintainer/Coder employee) have proper rights and access tokens for publishing on registries (npm/Docker)

_Issue created as suggestion action from [regr

[2021-03-29 18:00] jsjoeio opened #2998 "[dev]: enable end-to-end test suite on Safari and Firefox"
Currently, we only run end-to-end tests on Chrome. However, [playwright](https://playwright.dev/) supports all modern browsers:

After shipping a feature that causes code-server to not work in Safari, we think it's time to enable this.

Related:
- https://github.com/cdr/code-server/issues/2975
- https://github.com/microsoft/playwright/discussions/5991
- waiting on next release of `playwright` whic

[2021-03-29 18:00] jsjoeio commented on #2975
Hey folks! Update here:

- @code-asher implemented a fix in #2993
- I tested on iPad and the fix resolves the issue (video posted in PR^)
- We will enable end-to-end tests to run on Safari to prevent issues like this in the future! https://github.com/cdr/code-server/issues/2998

[2021-03-29 19:11] ismail commented on #2984
Here is what I see in the console just after clicking logout:

[code]

[2021-03-29 20:35] trir262 commented on #2929
I am also unable to start python.
local os = Windows 10
remote os = Oracle Linux 7.8
vscode server 1.54.3

installed extensions

* Python v2021.3.680753044
* GitLens v11.3.0

Error message:
Cannot activate the 'Python' extension because it depends on the 'Jupyter' extension, which is disabled. Would you like to enable the extension and reload the window?

However Jupyter is not supported on VS Cod

[2021-03-29 20:42] jsjoeio commented on #2929
@trir262 what version of code-server are you using?

I added this to an upcoming milestone. We'll investigate.

[2021-03-29 20:50] trir262 commented on #2929
I hope I have the right version : 1.54.3
I looked in .vscode-server/bin/2b9aebd5354a3629c3aba0a5f5df49f43d6689f8/package.json

[2021-03-29 20:52] jsjoeio commented on #2929
Ah, yes, that's the VS Code version. I meant the code-server version. Here's where you can find it:
![2021-03-29 13 51 59](https://user-images.githubusercontent.com/3806031/112898700-0519c080-9096-11eb-8a02-9a82b7462da6.gif)

[2021-03-29 20:56] trir262 commented on #2929
Apologies,
Here's my info:
Version: 1.54.3 (system setup)
Commit: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
Date: 2021-03-15T10:55:45.459Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

[2021-03-29 21:04] jsjoeio commented on #2929
That looks like VS Code's Help information (not code-server). A few follow-ups:
- What does your setup look like?
- How are you using code-server?
- What version of code-server are you using?

[2021-03-29 21:08] trir262 commented on #2929
Here are the steps I took:

Installed vscode on win10 client
Installed "Remote Development" extension
Connected to SSH Linux endpoint, which installed vscode server
Downloaded vsix for Python, gitlens & jupyter
Installed Python & Gitlens via offline install (linux device has no access to internet)
Unable to install Jupyter (apparently that's not supported, according to my other issue)
Opened a rem

[2021-03-29 21:22] trir262 commented on #2929
I now went to Extensions and saw the possibility to install the extensions to the remote endpoint. That way I am able to install the extensions and now it does seem to work for me.
I was able to install Jupyter and now python dev works as it should.
There is an inconsistency apparently in installing vsix offline and "Installing extension in remote"

[2021-03-29 21:24] jsjoeio commented on #2929
Ah yeah, we could probably do a better job explaining the differences between the two.  Well glad you got it working!

[2021-03-29 21:57] nodesocket commented on #2975
@jsjoeio was this only related to Safari? Because, I am seeing this running `3.9.2.` in Kubernetes via the Docker container and using both Chrome and Firefox.

[2021-03-29 22:09] jsjoeio commented on #2975
Ahh, my apologies @nodesocket - I overlooked your comment. We originally thought it was Safari only. Let me see if I can reproduce your issue using a similar setup.

[2021-03-29 22:10] jsjoeio commented on #2975
@nodesocket what version of Chrome and Firefox are you using?

[2021-03-29 22:14] jsjoeio commented on #2975
@nodesocket did any of the suggested workarounds above fix your issue by chance?

[2021-03-29 22:17] nodesocket commented on #2975
@jsjoeio I got a Bash shell into the Kubernetes pod running `code-server`:

[code]

You want me to just try running:

[code]

[2021-03-29 22:20] jsjoeio commented on #2975
Oh interesting! Yeah, if you're comfortable! I'm curious if that fixes it.

[2021-03-29 22:29] nodesocket commented on #2975
Just running those commands did not fix it. Do I need to restart the process by chance?

[2021-03-29 22:31] jsjoeio commented on #2975
Ah, shoot. I _think_ so! Worth a shot!

[2021-03-29 22:34] nodesocket commented on #2975
[code]

Re-deployed the pod, but still the same error.

![Screen Shot 2021-03-29 at 5 34 42 PM](https://user-images.githubusercontent.com/523312/112908399-12927300-90b5-11eb-85f2-92ce915b2f54.png)

[2021-03-29 23:12] jsjoeio commented on #2975
@nodesocket Bummer. Well, we will look into this further. Thanks for the screenshot!

[2021-03-30 02:51] davidxiaozhi commented on #1487
How did you fix this problem?

[2021-03-30 03:18] JammSpread commented on #2921
I'm very sorry for the late reply.
After trying and inspecting on the local OS (Chrome OS) and Chrome/Firefox on Debian, I've come to a  similar conclusion.

The assumption seems to be correct.
It seems that Chrome OS is falsely detected as macOS and thus uses its platform-specific command.
This doesn't occur, in contrast, on standard Linux environments.

[2021-03-30 03:19] JammSpread commented on #2921
This might be just a speculation but shouldn't it use the remote OS' command and not the detected local OS'?

[2021-03-30 03:59] JayGhughriwala commented on #186
Yeah

[2021-03-30 05:42] oxy commented on #2929
@trir262 hi!

Just noticed this - you appear to be using Microsoft's 'official'/proprietary `vscode-server` binary, not our open-source `code-server` tool (which is what this repo is for). We currently do not support connecting to a locally installed VSCode with an extension, and `code-server` can only be accessed in a web browser.

I've mentioned this on the original issues you've filed upstream

[2021-03-30 16:40] jsjoeio commented on #2921
Do we know if this is an upstream issue or specific to code-server?

Can it be reproduced on Codespaces?

[2021-03-30 16:59] JammSpread commented on #2921
I haven't been able to access the Codespaces Beta however this is reproducible in Gitpod.
It seems it may be upstream and an issue with handling Chrome OS.

[2021-03-30 17:08] jsjoeio opened #3004 "3.9.2 not working with code-server running in Kubernetes via Helm"
_Reporting on behalf of @nodesocket_
## OS/Web Information

- Web Browser: Chrome 89.0.4389.90/Firefox 87.0
- Local OS: MacOS Big Sur
- Remote OS: Docker / Kubernetes using official container 3.9.2.
- Remote Architecture:
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. Upgrade Kubernetes images from 3.9.1 to 3.9.2.
2. Then logged into my code-server and seeing these `WebSocket close wi

[2021-03-30 17:12] jsjoeio commented on #3004
@nodesocket do you mind providing the following information so I can update the issue?

[code]

[2021-03-30 17:15] jsjoeio commented on #2921
Ah gotcha. Well that's a good sign then!

Shoot, I wish I had access to Chrome OS. Or if there were a way for me to lend you access to my Codespaces Beta. Then I could try and reproduce and we could file upstream.

[2021-03-30 17:23] JammSpread commented on #2921
You might be able to reproduce it by using a similar or the same user agent I have.
[code]
You might be able to make use of this through a browser extension or by manually modifying your HTTP(S) requests.

[2021-03-30 20:54] nodesocket commented on #3004
## OS/Web Information

- Web Browser: Chrome 89.0.4389.90/Firefox 87.0
- Local OS: MacOS Big Sur
- Remote OS: Docker / Kubernetes using official container 3.9.2.
- Remote Architecture:
- `code-server --version`:

[code]

## Steps to Reproduce

1. I upgraded the Kubernetes images from 3.9.1 to 3.9.2.
2. Then logged into my code-server and seeing these `WebSocket close with status code 1006`

[2021-03-30 21:00] jsjoeio commented on #3004
@bpmct I know you're a Kubernetes guru so if you have any interest in helping with this one, let us know!

[2021-03-30 22:00] tidux opened #3005 "Extension request: PWA VS Code"
https://marketplace.visualstudio.com/items?itemName=mayeedwin.vscode-pwa

- [x] Extension name:  PWA VS Code
- [x] Extension GitHub or homepage: https://github.com/mayeedwin/vscode-pwa

[2021-03-31 09:16] lucki1000 commented on #2746
I think you can close this issue @jsjoeio since 3.9.2 it worked again, without problems.

[2021-03-31 09:16] #2746 closed

[2021-03-31 14:38] bpmct commented on #3004
@nodesocket are you using the helm chart?

[2021-03-31 16:39] jsjoeio commented on #2746
Hooray! Thanks for checking and for letting us know @lucki1000 🎉

[2021-03-31 17:23] code-asher commented on #2982
FYI, VS Code stores the GitHub credentials in the browser so to clear them you'd need to clear local storage and refresh.

So, the issue is that commits are being made with the incorrect email address when your GitHub account is linked, right?

Here's how I tried to replicate:

1. Create a new repository on GitHub
2. Clone it using https (`git clone https://github.com/username/test.git`)
3. Follow

[2021-04-01 08:08] Eternity714 commented on #1122
i still see the same issue，i use docker as the container and use frp to route

docker-compose.yml
[code]

frpc.ini
[code]

[2021-04-01 09:38] ismail opened #3013 "Can't install latest version of ms-toolsai.jupyter"
## OS/Web Information

- Web Browser: MS Edge 91.0.838.3
- Local OS: openSUSE Tumbleweed
- Remote OS: Ubuntu 21.04
- Remote Architecture: x86_64
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce

[code]

## Expected

Jupyter extension has version 2021.5.0

## Actual

Jupyter extension has version 2021.3, note that even the available version list doesn

[2021-04-01 15:40] sweet-mentat opened #3014 "zlib error with websocket compression enabled"
## OS/Web Information

- Web Browser: Chrome Version 89.0.4389.90 (Official Build) (32-bit)
- Local OS: Windows Server 2016 Datacenter
- Remote OS: Ubuntu 18.04.5
- Remote Architecture: Amazon EC2
- `code-server --version`: v3.9.2

config.yaml:

## Steps to Reproduce

1. systemctl --user start code-server
2. log into it from browser
3. config.yaml at ~/.config/code-server/
bind-addr: 127.0.0.1:900

[2021-04-01 15:41] sweet-mentat commented on #3014
In the browser, it hangs, then says that it cannot reconnect.

[2021-04-01 16:33] jsjoeio commented on #1122
Hi @Eternity714 - if you're seeing issues, please open a new bug report ticket and fill out the template. That'll help us help you faster! Thanks!

[2021-04-01 16:34] lovetodream commented on #3014
I have the same issues on a Raspberry Pi 4 with Debian using standard password authentication.

[2021-04-01 16:47] jsjoeio commented on #3013
I was able to reproduce this locally. I think this is because by default, it installs from Coder's extension marketplace (which we are soon deprecating and moving towards [OpenVSX](https://open-vsx.org/) and guessing we don't have the latest version in there.

## Logs

[code]

## Screenshot

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/113325757-b191b780-92c

[2021-04-01 17:08] ismail commented on #3013
Thanks for the great debugging!

[2021-04-01 17:08] #3013 closed

[2021-04-01 17:19] jsjoeio commented on #3013
![image](https://user-images.githubusercontent.com/3806031/113330481-a0e44000-92d3-11eb-94c6-915ab1efc46e.png)

Couldn't have done it with your easy to follow repro steps!

[2021-04-02 02:34] Eternity714 opened #3017 "Blank Page after Login with HTTPS"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Win10 x64
- Remote OS: docker
- `code-server --version`: latest

## Expected

When I use https, it can be login, after that, it becomes to a blank page

## Actual

i have not idea

## Config File

docker-compose.yml
[code]

frpc.ini
[code]

## Note
In addition，i can't find any way to cache the log file

[2021-04-02 02:52] nooobcoder opened #3018 "Reload window to reconnect to code-server"
Whenever the docker container or the host machine is restarted, the browser tab cant reconnect to code-server in the last state. It forces the user to reload the window.
This is not an issue when i do not restart the container or reboot the host machine. Rest of the time it connects as usual.

Also, the terminal's state is lost when the browser tab is reloaded, this needs to be fixed. I have tried

[2021-04-02 02:54] nooobcoder opened #3019 "Feature request for default login page"
Please update the background of the login screen background. It has been static for quite a long time. Try putting cool animations to add a dynamic feeling to it. Also, bring a feature to change the welcome message on the login screen instead of the default message. I think showing some animated shapes (colorful) on a light theme would certainly look nice and there would be a dark theme toggle on

[2021-04-02 04:21] gordlord opened #3020 "ENDLESS BUGS - UNUSABLE EDITOR"
### BUGGY
Oh my god, people! Guess what? Wanted to code and something doesnt work  like the language server crashing...

This project will _never_ reach an **stable** state. And I have _waited long_ for this to become  a success. **But it is unusable how it is.**

The whole code-server is just a big fat bug, insecure, and has its very own special way of getting extentions to work. Did I mention th

[2021-04-02 07:16] gbruno16 commented on #3014
Same issues on Termux for Android

[2021-04-02 08:21] pvtmert commented on #2975
Hello,

I know issue is closed but issues #3004 #3017 and #3014 are related with this one.

Basically regardless of middlewares (proxy, ingress, etc...) when user opens up code-server in browser, and if browser doesn't properly support websocket zlib compression and/or negotiation it fails. (Websocket Error 1006 in Safari)

Just my 2 cents about what you guys can do about it:
- People complain abo

[2021-04-02 10:06] hmy831004 opened #3021 "No debugging breakpoints have been set anywhere."
## OS/Web Information

- Web Browser: chrome
- Local OS: window10
- Remote OS: Ubuntu 16.04.1 LTS
- Remote Architecture:
- `code-server --version`:  2.1665-vsc1.39.2 ,3d5db8313a91f80dfc402450fd117b4e63f7711e ,x64

## Steps to Reproduce

## Expected

No debugging breakpoints have been set anywhere.

![K-030](https://user-images.githubusercontent.com/41275943/113406423-6d460a80-93e6-11eb-91b8-08d242

[2021-04-02 12:29] vendvahk commented on #2975
I also would like to leave a comment.
That “sed” fix looks like to be fixing the issue for iOS 14+, but apearently not for iOS 13.

On my iPhone with iOS 14.4.2 - fix worked.
On my iPad with iOS 13.6.1 - after login still white page.

[2021-04-02 14:14] oxy commented on #3021
Can you verify if this is reproducible in the latest version of `code-server`?

[2021-04-02 14:20] oxy commented on #3020
Hey, that's kind of rude.

If you have any specific bugs that you've found in our product, I'd encourage you to report them specifically, which would actually help us fix bugs. Just filing a bug that says "your product sucks, give up" is not a nice thing to do in general, and I'd encourage you to either file bugs that provide constructive feedback, or at the very least refrain from flaming.

Many

[2021-04-02 14:20] #3020 closed

[2021-04-02 14:52] CT702-7 opened #3023 "Something wrong in renaming a file when specific color theme is selected"
## OS/Web Information

- Web Browser:Firefox
- Local OS:Linux Ubuntu
- Remote OS:Windows
- Remote Architecture:arm64
- `code-server --version`:3.9.2

## Steps to Reproduce

1. Select "Monokai" as color theme
2. Rename a file

## Expected

I can see the old name while renaming it.

## Actual

The total area is blocked.

## Screenshot

![屏幕截图 2021-04-02 224739](https://user-images.githubusercontent.

[2021-04-02 15:14] tomsherrod commented on #2577
Gave 3.9.2 a try on the same server, same result.
npm and yarn appeared to be installed. I followed the instructions and both are already installed.

[2021-04-02 15:21] martinussuherman commented on #2836
@coatmaker618 sorry to hear that. Btw, I've made a repo for code-server nginx configuration here: https://github.com/martinussuherman/code-server-nginx-config based on my live setup (using docker/docker-compose for both nginx and code-server). Please take a look and hope it could help you solve your problem.

@jsjoeio if you have any input or suggestion on the above repo please let me know. Thanks

[2021-04-02 15:43] code-asher commented on #3017
Usually the white page means the websockets aren't connecting. I'm not familiar with frp; does it support proxying secure websockets? Related: https://github.com/fatedier/frp/issues/2119

[2021-04-02 15:56] code-asher commented on #3018
Thank you for the feature requests!

The terminal request is a duplicate of https://github.com/cdr/code-server/issues/2276.

The requirement to refresh when the code-server process or host machine restarts is unfortunately not something we can resolve since it's how upstream works. However, we do want to make it obvious you need to refresh because right now I think it just keeps trying to reconnec

[2021-04-02 15:56] #3018 closed

[2021-04-02 15:57] code-asher commented on #3019
Maybe we could use the same theme VS Code is using? That could be cool.

[2021-04-02 16:11] jsjoeio commented on #3014
@gbruno16 are you able to post reproduction steps? Might help with debugging as I have an Android I can test on.

[2021-04-02 16:13] jsjoeio commented on #2975
@pvtmert thanks for the suggestions! I'll let @code-asher weigh in if he has any thoughts. But yeah, we're also planning to add e2e testing for Safari to catch some of these things sooner.

@vendvahk thanks for the report! Are there any logs (`code-server --log debug` or browser logs) you can share?

[2021-04-02 16:23] jsjoeio commented on #3023
Thanks for bringing this issue to our attention @CT702-7 - I was able to reproduce this locally with `3.9.2`.

## code-server

https://user-images.githubusercontent.com/3806031/113433892-dc930e80-9394-11eb-8fa7-559f76b4ca1d.mov

## VS Code

Could not reproduce in VS Code (local). Did not try Codespaces.

https://user-images.githubusercontent.com/3806031/113433773-a8b7e900-9394-11eb-846e-0b4c52e6e8

[2021-04-02 17:55] #3023 closed

[2021-04-02 18:08] jsjoeio commented on #2577
Hmm... @tomsherrod do you mind updating this thread using our [bug report template](https://github.com/cdr/code-server/issues/new?assignees=&labels=&template=bug-report.md&title=)? Then we can take a look faster and hopefully help you!

[2021-04-02 18:12] jsjoeio commented on #2836
@martinussuherman awesome! If you can add a `README.md` along with steps for setting things up (assume we know nothing), then we'd be able to use that and take a closer look.

If you need inspiration, [this](https://gist.github.com/PurpleBooth/109311bb0361f32d87a2) is the template I always use.

[2021-04-02 18:23] jsjoeio commented on #2984
For whoever picks this up, some notes:

1. re-calculate domain
2. if cookie is `key` set again as-is but append expiration
3. do it from server-side
4. set path the same as well (probably needs to be sent from browser)

Could possible redirect to `./logout/?path=/bla` or do a POST. Food for thought.

[2021-04-02 21:36] fastender commented on #3017
Have the same problem on my macbook / safari, but chrome is working

[2021-04-02 21:53] gbruno16 commented on #3014
I followed exactly the steps in https://github.com/cdr/code-server/blob/main/docs/install.md#termux on a fresh installation of Termux 0.108.
My device is a Huawei Matepad 10.4 (Android 10). Code server starts but after some seconds it disconnects and gives the same error reported above

[2021-04-02 22:09] jsjoeio commented on #3014
Okay, thanks for the notes! Can you try running with `code-server --log debug` and posting the logs here?

[2021-04-02 22:37] #2841 closed

[2021-04-03 03:56] nooobcoder commented on #3019
@code-asher what about the shades of purple theme?
https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple

The color scheme is so good, maybe code-server should use it by default. Just a recommendation.

[2021-04-03 04:12] martinussuherman commented on #2836
@jsjoeio thanks for the suggestion and template info. I'll try make the readme asap.

Regards,

Martinus

[2021-04-03 08:56] grewhit25 commented on #2975
@nodesocket

Instead of recreating the pod; try restarting the s6 service after applying the patch and while still in the pod.
I also assumed you did a ‘find’ on vscode.js, as the path was different to that of the patch on kubernetes in my case.

[code]

Worked for me.

[2021-04-03 09:02] tomsherrod commented on #2577
Finding the version of code-server to be at 3.9.2 now, I created a new ubuntu vm and installed 3.9.2. I thought the upgrade jump would be a long shot, so no worries. Lesson: keep a bit more current.
Thank you for the support and software. I will use the report template for any further issues.

[2021-04-03 09:39] gbruno16 commented on #3014
I hope this is what you asked for:

[2021-04-03T09:27:04.844Z] info  code-server 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859
[2021-04-03T09:27:04.846Z] info  Using user-data-dir ~/.local/share/code-server
[2021-04-03T09:27:04.872Z] info  Using config file ~/.config/code-server/config.yaml
[2021-04-03T09:27:04.872Z] info  HTTP server listening on http://127.0.0.1:8080
[2021-04-03T09:27:04.872Z]

[2021-04-03 12:17] vendvahk commented on #2975
[code]

[2021-04-03 15:41] CT702-7 commented on #3023
@jsjoeio Excuse me , bro. I'm actually a fresh man here. So I don't understand the meaning of "open an issue upstream", could you please elaborate it, what should I do next?

[2021-04-04 01:16] hakanu opened #3027 "Blank page: error vscode Handshake timed out"
## OS/Web Information

- Web Browser: Google Chrome Version 89.0.4389.114 (Official Build) (64-bit)
- Local OS: Ubuntu 21.04
- Remote OS: Raspbian GNU/Linux 10 (buster)
- Remote Architecture: armv7l GNU/Linux
- `code-server --version`:3 .9.2

## Steps to Reproduce

1. SSH in to raspberry pi
2. Run this `curl -fsSL https://code-server.dev/install.sh | sh`
3. Takes 22m usually
4. Go to hosted site t

[2021-04-04 04:50] itsseanl commented on #3027
Having this same issue on iPad safari. Tested my setup from a desktop and it worked fine there

[2021-04-04 16:00] vikstrous2 commented on #2112
This issue happens to me all the time. I'm using a chromebook to connect. There's a proxy between vs code and the chromebook, but that probably doesn't matter. The logs show:
[code]
There are definitely no open connections left when this is happening:
[code]
The local nodejs version is:
[code]
Code-server seems to have its own node version though:
[code]
This seems to happen very reliably when the

[2021-04-04 18:11] Shiko21 opened #3029 "always appearing error number 500"
after i install code-server i run it it works perfectly fine but after a few hours its disconnects and if i run my vscode again it crash and opening on teermux it says error time out

[2021-04-05 00:24] leKamikaze1 commented on #3029
Same here, termux in android with 500

[2021-04-05 00:28] leKamikaze1 commented on #2937
Hello, currently using code-server in termux and getting the same 500 error. Here is my trace:
[code]
Ideas?

[2021-04-05 00:29] leKamikaze1 commented on #3029
My trace is the following:

code-server --log trace [2021-04-05T00:25:53.435Z] trace child:16721 got message {"message":{"type":"handshake","args":{"_":[],"bind-addr":"127.0.0.1:8080","auth":"password","password":"wontshowmypwdlol","config":"/data/data/com.termux/files/home/.config/code-server/config.yaml","log":"trace","user-data-dir":"/data/data/com.termux/files/home/.local/share/code-server","e

[2021-04-05 01:59] agowa338 opened #3030 "node fails to start on arm64 with android"
## OS/Web Information

- Remote OS: Android with Termux
- Remote Architecture: arm64
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. try to execute `./lib/node`
2. `./lib/node: No such file or directory` is displayed because `/lib/ld-linux-aarch64.so` doesn't exist.

## Expected

code-server starting successfully and node working

## Actual

node failing to start because of missing dyn

[2021-04-05 05:03] coder-lg opened #3031 "A doubt"
Can I run this in Windows? Like, I don't have a Mac or a Linux distro and I don't wanna pressurise my Android device. Can I run this in Windows's CLI? Because, I want to have VS Code on the cloud, so I can edit it in any of my devices, that's why.

[2021-04-05 10:41] hakanu commented on #3017
I have this problem: https://github.com/cdr/code-server/issues/3027

Not sure if it's the same one.

[2021-04-05 12:50] #3031 closed

[2021-04-05 16:49] jsjoeio commented on #2577
No worries at all! Glad that it was as easy as upgrading.

[2021-04-05 16:49] #2577 closed

[2021-04-05 16:50] jsjoeio commented on #3014
Perfect! Exactly what we needed. I've seen this same issue so you're not alone. Thanks for posting the logs! We'll look into this.

[2021-04-05 16:53] jsjoeio commented on #3023
@CT702-7 apologies - happy to guide you!

code-server uses [VS Code](https://github.com/microsoft/vscode) under the hood. Sometimes issues are in code-server. Sometimes  they're upstream (meaning in VS Code).

Here, I mean you should instead file an issue in the VS Code repository. Here is a [link](https://github.com/microsoft/vscode/issues/new/choose). Hope that helps.

[2021-04-05 17:00] jsjoeio commented on #3027
Hey @hakanu - sorry to hear you're having issues. Thanks for the report!

Can you verify if you experience this same issue using code-server 3.9.1?

Possibly related:
- https://github.com/cdr/code-server/issues/2975

[2021-04-05 17:02] jsjoeio commented on #2112
Do you mind opening up a separate issue and filing a bug report with reproduction steps? We can take a closer look and hopefully find a fix.

[2021-04-05 17:04] jsjoeio commented on #2937
Hmm... not sure what that could be. @leKamikaze1 do you mind opening up a separate bug report issue and providing reproduction steps? Then we can look further into your issue.

[2021-04-05 17:05] jsjoeio commented on #3029
@Shiko21 Please open an bug report issue, fill out the template and we'll be happy to take a look!

[2021-04-05 17:05] #3029 closed

[2021-04-05 18:33] leKamikaze1 opened #3036 "500 error: 3.9.2 not working on Android + Termux"
## OS/Web Information

- Web Browser: Chrome for Android
- Local OS: Android 9 Pie
- Remote OS: Server? If so, Android 9 Pie on Termux
- Remote Architecture: ARM
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce

1. Install code-server as normal with yarn
2. Start it
3. Log in to localhost:8080

## Expected

VSCode would appear

## Actual

500 error i

[2021-04-05 18:37] leKamikaze1 commented on #2937
Sure

[2021-04-05 18:37] leKamikaze1 commented on #3036
Wait, wtf? The video didn't upload, lemme try to upload it again

[2021-04-05 18:39] jsjoeio commented on #2734
Hi all.

I finally found some time to investigate this. I was able to semi-reproduce this.

## Reproduction Steps
1. Download VPN for macOS: [TunnelBear](https://www.tunnelbear.com/)
2. Run `code-server --link`
3. Enable VPN using Cyprus (the country)
4. Open code-server using link (i.e. https://<you-link>.cdr.co/) in browser

### Expected

It loads code-server in the browser

### Actual

It doesn

[2021-04-05 18:41] nodesocket commented on #2975
@grewhit25  How do I restart the service, once I have a terminal inside the pod? Also, not following what you mean by `s6-srv`?

[code]

[2021-04-05 18:41] nodesocket commented on #3004
@bpmct correct, using https://github.com/cdr/code-server/tree/main/ci/helm-chart. I think the problem is not related to Kubernetes, Helm, or Docker, but the `code-server` files itself. See https://github.com/cdr/code-server/issues/2975#issuecomment-813567492

[2021-04-05 18:55] leKamikaze1 commented on #3036
@jsjoeio Sorry for the video delay, I didn't see that it didn't record chrome, then I had to install edge, make a new recording, and also compress it due to GitHub limitations, now it's available

[2021-04-05 18:56] jsjoeio commented on #3036
No worries at all! Thanks for opening this up so quickly. I should be able to investigate today.

P.S. the video isn't working on my side. I just see a black screen
<img width="390" alt="image" src="https://user-images.githubusercontent.com/3806031/113613382-02731a00-9606-11eb-8ad7-07ae988797c5.png">

[2021-04-05 18:57] leKamikaze1 commented on #3036
~~I'm gonna break something~~Let me try and upload it to YouTube!

[2021-04-05 18:59] leKamikaze1 commented on #3036
https://youtu.be/w2MCCDTNfsU Okay, quality may not be the best because of YouTube, it should be at full res soon

[2021-04-05 19:13] jsjoeio commented on #3036
That worked! Hmm...so strange. Okay, let me try to reproduce locally on my Android.

[2021-04-05 19:18] nooobcoder opened #3037 "Provide docker-compose file in git repository"
**Just a recommendation**, it would be easier if a `docker-compose.yaml` file is provided at the root of the git repo.

Then deployment would be as easy as `docker-compose up -d` _for noob developers_ or for those who want to skip overhead of tweaking every config.

By,
~ **Ankur Paul** `code-server` ❤️r

[2021-04-05 19:24] hakanu commented on #3027
No it's with 3.9.2 the latest version as I mentioned in the first comment.

[2021-04-05 19:27] jsjoeio commented on #3036
Well, I have good news and bad news.

## Good News

I was able to successfully reproduce this on my Pixel 2 in both Chrome and Firefox.
https://user-images.githubusercontent.com/3806031/113616529-115bcb80-960a-11eb-88b8-864f251f520d.mp4

## Bad News

Even running with `--log debug` leads to no hints as to what's wrong.

I'll add this to the next milestone so can investigate further. Thanks for hel

[2021-04-05 19:30] jsjoeio commented on #3037
cc @bpmct

[2021-04-05 19:30] leKamikaze1 commented on #3036
Damn, so it wasn't some weird thing I did. Well, in that case, shouldn't a temporal warning be made on the repo telling that 3.9.2 isn't working in these devices?

[2021-04-05 19:31] jsjoeio commented on #3027
@hakanu yes, I saw that. I'm wondering if you have a workaround for now :) Thanks for confirming.

[2021-04-05 19:32] jsjoeio commented on #3036
Yes, good idea! I will pin this issue so people see it and I'll make an announcement in Discussions.

[2021-04-05 19:37] leKamikaze1 commented on #3036
Oki, hmu with any updates on the issue

[2021-04-05 19:56] grewhit25 commented on #2975
@nodesocket  I am using [nicholaswilde/code-server](https://staging.artifacthub.io/packages/helm/nicholaswilde/code-server/0.1.2) helm chart. The container for this chart is supervised by [s6 overlay](https://github.com/just-containers/s6-overlay/wiki).

[code]
Is a command available while exec'd into an s6 supervised container to manage a service.

Did you try running the above command as shown a

[2021-04-05 20:03] nodesocket commented on #2975
@grewhit25

[code]

[2021-04-05 20:03] hakanu commented on #3027
no worries :)

Unforunately not :/ It was working fine 2 versions before though. I should not have upgraded an already working system.

Is there a way to totally clean up the system and re-install?

I tried npm uninstall code-server and retry but no help. Any idea is welcome.

[2021-04-05 20:03] nooobcoder commented on #3037
@jsjoeio @bpmct
I am sharing my version of `docker-compose`. Please review and produce to upstream if it fits best.

[code]

[2021-04-05 21:19] jsjoeio commented on #3027
Hmm..interesting.

If you installed globally with npm, you should be able to do:
1. `npm uninstall -g code-server`
2. `npm install -g code-server@3.9.0` or which ever version was working before

Hope that helps!

[2021-04-05 21:38] jsjoeio commented on #2749
It's been over 30 days since we've last heard from you. Going to close this issue for now. If you run into it again or need further assistance, please open another issue!

[2021-04-05 21:38] #2749 closed

[2021-04-05 21:39] jsjoeio commented on #2545
Since there are corresponding issues for each item and most of them have been fixed, I'm going to close this issue.

[2021-04-05 21:39] #2545 closed

[2021-04-05 22:51] jsjoeio opened #3040 "Create extension directory if not found"
Occasionally in CI or locally, we will see this error produced by code-server:
[code]

@code-asher says we can create `environmentService.globalStorageHome` and could add the ext dir there to prevent this error. Similar to how GitPod does it: https://github.com/gitpod-io/vscode/blob/gp-code/src/vs/gitpod/node/server.ts#L330

[2021-04-05 23:20] jsjoeio commented on #2964
Note: I didn't fix the vulnerabilities in `lib/vscode`. Those would be upstream. Hopefully as we update VS Code with each release, those get fixed upstream.

[2021-04-05 23:41] #2964 closed

[2021-04-06 00:16] bpmct commented on #3037
@nooobcoder I noticed you included a self-signed cert. I think we can probably remove this from the upstream copy. Thoughts?

[2021-04-06 02:08] dudss37 opened #3044 "__Secure-CASTGC"
__Secure-ECAS_SESSIONID

[2021-04-06 02:51] nooobcoder commented on #3037
Absolutely **Ben**, I _included a self signed cert_ just because, without having it, **every time a warning message popped up that clipboard features would be disabled** at the bottom right of the screen on every reload. So, i resorted to generate a self signed cert and **server code-server with HTTPS**.

Thank You

[2021-04-06 03:41] davids-tips commented on #2658
I have looked into the issue. I had it aswell
# Steps i took to fix it.

1. Close the instance of code-server.
2. Restart instance and log back in.
-  The extensions should now be enabled and be able to be toggled on and off

Below is unrelated but some useful information
- As of the issue of not being able to access it from the internet without having to use ssh try setting up ngrok

Hope this wo

[2021-04-06 03:48] davids-tips commented on #1928
As of the issue of not being able to access it from the internet without having to use ssh try setting up ngrok

[2021-04-06 10:05] antofthy commented on #1928
As a FYI we are currently working on a web interface, our users sign into that will then let them control their development environment (EG: start, stop, or select a different software setup).    This connects to a backend system that has the docker access, to actually do the requested tasks for the user.

[2021-04-06 10:49] hakanu commented on #3027
Thanks! same with 3.9.1 and 3.9.0 :/
I feel like something is wrong with the underlying vscode itself. Any suggestions like purging vscode from the system and then re-install?

[2021-04-06 14:43] hakimehmordadi opened #3048 "Vscode extension does not work on code-server"
Hi there! 👋

I created a vs-code extension for code sharing. For running extension I'm using code-server. I'm using web socket for real-time sending and receiving messaged (In this case users mouse position or text highlights).

I open every files which I want to share in browser as tabs.

BUT

When I closed all tabs, my extension goes deactivated, web socket is stopped and I got error.

## OS/Web

[2021-04-06 17:11] jsjoeio commented on #3044
Hi @dudss37 - not sure what this means. Can you please elaborate?

[2021-04-06 17:16] lokhmakov commented on #3027
Same with install in Google Cloud Shell.

[2021-04-06 17:22] jsjoeio commented on #3027
Argh. How about 3.8.1?

You may be able to go inside `code-server` and go inside the `lib/vscode` directory and run `npm rebuild`.

It looks like someone had a similar issue in February - [see thread](https://github.com/cdr/code-server/discussions/2692)

[2021-04-06 17:28] jsjoeio commented on #3048
Hi @hakimehmordadi - thanks for opening an issue!

If you can reproduce this in VS Code, then you should open this upstream as it's not specific to code-server.  Let me know if you have any questions!

[2021-04-06 17:58] hakimehmordadi commented on #3048
Hi **@jsjoeio**
Thank you for answering.

Please take a look to below link:
http://localhost:8080/static/e0203f2a36c9b7036fefa50eec6cf8fa36c5c015/home/student1/Desktop/code-server-3.9.1-linux-amd64/lib/vscode/out/vs/workbench/workbench.web.api.js

This is link of error, please see the pictures, it is related to code-server, because code-server is responsible for activating vs-code extension, when

[2021-04-06 18:13] jsjoeio commented on #3048
Ah, I misunderstood. You marked "Yes" here:

If this can also be reproduced in VS Code, then it should be filed upstream. If not, then it's a code-server issue.

That link won't work for me because it's running on your machine.

When the browser disconnects, VS Code kills the entire extension host (and therefore all running extensions). This is how VS Code works (and not something in our control).

[2021-04-06 18:57] L3P3 opened #3051 "Regression: New RegExp format causes blank page"
## OS/Web Information

- Web Browser: Mypal 29.1.1 (Pale Moon/Firefox)
- Local OS: Windows XP SP3
- Remote OS: Debian 10
- Remote Architecture: x86-64
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce

1. Open Mypal
2. Open code-server

## Expected

App opens.

## Actual

Blank page.

## Screenshot

![mpcsb2](https://user-images.githubusercontent.com/

[2021-04-06 19:27] jsjoeio commented on #3051
Hi @L3P3! Thanks for opening the issue.

It looks like part of the bug report is missing this line. Can this be reproduced in VS Code?

Based on what you linked, if that's truly the issue, then it looks like it was introduced/changed here: https://github.com/microsoft/vscode/commit/5c1ff8158b7731a8478cfe0e09a23e59502efb9f#diff-dde3b56145713053f086e5ce1fcea39c4cb171d4555b6ab91256c7cf2b39e9af

We su

[2021-04-06 19:37] L3P3 commented on #3051
Thanks for pointing that out. Did not know that vscode aims for backwards-compatiblity and I thought it is just used in modern electron.
Workaround for now is to simply delete SnakeCaseAction, I will now look into the compiler side of things.

[2021-04-06 21:10] #1730 closed

[2021-04-06 23:36] jsjoeio commented on #3036
Update:

Starting working on this today. This is terribly difficult to debug. I tried cloning and running code-server on my Android in Termux but couldn't get it working due to issues with native modules needed by vscode. I'll update this thread as I continue to investigate.

[2021-04-07 02:34] elreydetoda commented on #2836
can confirm @martinussuherman's config stuff worked  ( for at least getting to the application, haven't tested much more than that.

I swapped out the `vscode-server` for `127.0.0.1` so I didn't have to point the nginx configs to the docker resolver ( i.e. like [this](https://github.com/martinussuherman/code-server-nginx-config/blob/97d27540d17921e7d76dbc5ede62a702456753bf/global/docker-vscode-pro

[2021-04-07 05:26] hakimehmordadi commented on #3048
Thank you so much @jsjoeio for your answer.

[2021-04-07 06:52] jianboy opened #3057 "just preview local file system code and without backend"
## suggestion

new a branch, it can preview current machine current workspace code, and  **without backend** code-server. it only read local file.

[2021-04-07 06:55] jianboy commented on #3057
similar project: https://github.com/conwnet/github1s

but that project can only open github repo files.

[2021-04-07 12:32] vikstrous2 commented on #2112
Ok. I'll try to narrow it down better first and come up with a repro that doesn't involve waiting for a chromebook to fall asleep :)

[2021-04-07 13:41] SJang1 opened #3061 "Open Workspace while another Workspace is open doesn't work."
## OS/Web Information

- Web Browser: Firefox 87.0
- Local OS: M1 Macbook Air, MacOS 11.2.3
- Remote OS: Ubuntu 20.04
- Remote Architecture: x64
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce

1. Open and work on the workspace
2. Click menu bar left top corner -> File -> Open Workspace
3. Try to open

## Expected

New workspace should open

## Actu

[2021-04-07 14:36] jkcoxson commented on #3027
I am able to reproduce this on the newest build, the log is full of handshake errors and visual studio ends up with a blank screen.

[2021-04-07 16:26] jkcoxson commented on #3027
I can confirm this is affected on a clean install of 3.8.1. Is there some sort of dependency that broke it?

[2021-04-07 17:14] jsjoeio commented on #3048
No problem! I'm going to close this then. Feel free to file upstream and/or open a separate issue if you encounter issues with code-server.

[2021-04-07 17:14] #3048 closed

[2021-04-07 17:15] oxy commented on #3057
I don't think this is possible without a backend - mostly because VSCode relies on natively running language servers for Intellisense/auto-complete, and because local storage access is pretty limited in a web browser.

[2021-04-07 17:36] jsjoeio commented on #3061
This is very strange. I was able to reproduce locally. Opening a workspace is not working. There are no logs in the console. And running code-server with `--log debug` shows no unusual messages.

https://user-images.githubusercontent.com/3806031/113909883-0b422800-978d-11eb-83b9-04e2a9a0a35c.mov

This is definitely a bug. Thank you for reporting! We'll investigate.

[2021-04-07 17:38] bpmct commented on #2836
@martinussuherman Awesome to see that nginx config works!

I will take a look soon and see how we can feature this setup on [awesome-code-server](https://github.com/bpmct/awesome-code-server)

[2021-04-07 17:45] jkcoxson commented on #3027
No, I'm using x64, on Ubuntu

[2021-04-07 17:51] jsjoeio commented on #3057
Yeah, I think @oxy is right. Probably not possible. Though someone internally was exploring a project similar to github1s.

https://coder1s.com/cdr/code-server

But it only works with GitHub repos.

What kind of projects would you like to open? GitLab? Something else?

[2021-04-07 17:54] jsjoeio opened #3066 "VSCode: Upgrade to 1.55"
code-server 3.9.2 uses VSCode v1.54.2

1.55 came out [last month](https://code.visualstudio.com/updates/v1_55) and the next code-server release should use it.

[2021-04-07 18:25] jianboy commented on #3057
@oxy @jpinnix

ok, First of all, I can tell you that many js lib can preview current system files without the backend(php, nodejs, java and so)

Let me give you some examples.

1. https://github.com/surfcodes/surf

this project can open github, gitlab, and any others file system.

2. baidu minder project

It is a javascript project, and without backend. it need a static server, like nginx, apache.

[2021-04-07 19:50] jpinnix commented on #3057
I assume you meant to tag @jsjoeio

But this is an interesting conversation 😃

[2021-04-07 19:55] EdgarAlonsoPerez commented on #1851
Same problem in raspberry Pi 3

[2021-04-07 19:56] jkcoxson commented on #3027
Is there anything I can do to at least get something up and running? This is my main way to do my job at the moment, and something would be better than nothing. But if not, I'll be patient. Thanks for your work on this project.

[2021-04-07 21:38] EdgarAlonsoPerez commented on #3014
Same problem here.
local device: raspberry Pi 3
remote device 1: Ipad (ipadOs 14.4.2)
Browsers that i used to test: Brave (Version 1.23.1 (21.2.24.16)), Safari, Chrome
code-server version: 3.9.2

[2021-04-08 00:21] jsjoeio commented on #3027
Hmm...3.9.1 _should_ work on Linux.

Have you seen the [deploy code-server guides](https://github.com/cdr/deploy-code-server)? As a workaround, I would suggest using 3.9.1 on Railway. That should unblock you and help you get something working quickly. Sorry for blocking you and thank you for having patience + trying to help us figure this out!

[2021-04-08 00:22] keloin opened #3070 "After upgrading to 3.9.2 it is not opening in macOS Safari (mobile or desktop)"
See the screenshot.
Works in Chrome, not in Safari - tried on iPad and laptop - both HTTP and HTTPS.
Latest version of Safari - 14.0.3 (16610.4.3.1.7) - on the latest version of macOS - 11.2.3 (20D91).
Latest version of Safari on iPadOS - 14.4.2.
Reverting to 3.9.1 solves the problem.
<img width="1109" alt="console" src="https://user-images.githubusercontent.com/5483626/113950143-e621d980-97cd-11e

[2021-04-08 00:25] keloin commented on #3070
3.9.2 is also not opening in Chrome on iPad. Works in Chrome on laptop.

[2021-04-08 00:29] keloin commented on #3070
This is what I see in the logs:

[code]

[2021-04-08 02:57] jkcoxson commented on #3027
I was able to completely purge 3.9.2 with the help of Ben and reinstall using 3.9.1 and it worked for me. If it helps, I'm using Safari on my iPad, but it also didn't work on Chrome.

[2021-04-08 04:26] nodesocket commented on #3070
Related, see https://github.com/cdr/code-server/issues/3004

[2021-04-08 04:28] nodesocket commented on #3004
@bpmct I just started from scratch.

[code]

And re-installed _(after confirming it freshly created a new volume)_. To my surprise, I am having the same exact issue. I think something is actually broken in the `3.9.2` source code build.

[2021-04-08 04:49] czho commented on #2982
hmmm, I'm not sure how to reproduce it now, i fixed it by changing the name of my vps so the link changed, but I didn't not set my email to anything involving HarukaMa, I assumed it was an issue with oauth cause I couldn't think of anyway that some random person go involved here. I'm closing this because its a fixed issue that I cant reproduce in anyway.

[2021-04-08 04:49] #2982 closed

[2021-04-08 09:13] martinussuherman commented on #2836
@elreydetoda I'm glad that it works for you.
@bpmct thanks, looking forward to see that.
@jsjoeio sorry, still haven't been able to do that readme yet.

Regards,

Martinus

[2021-04-08 10:26] bpmct commented on #3004
if you change the image to 3.9.1 in the helm chart do you still run into these issues?

[2021-04-08 11:35] ToasterSticks opened #3073 "Git Tab not automatically refreshing."
## OS/Web Information

- Web Browser: Chrome.
- Local OS: MacOS 11.3 Beta (20E5224a)
- Remote OS: Railway?
- Remote Architecture: Railway? (no clue)
- `code-server --version`: 3.9.2

## Steps to Reproduce

1. Clone a repo
2. Save a file
3. Head to git tab

https://user-images.githubusercontent.com/64027609/114019870-edcc9700-983c-11eb-8890-c43bc8b50b76.mov

## Expected
Source control should update

[2021-04-08 12:12] SJang1 commented on #3061
There was no any unusual log on my side of server/client either with `--log debug` like that video in the comment.

[2021-04-08 15:02] Yamilquery commented on #3004
I have the same issue with 3.9.2.

I can't downgrade to 3.9.1 because is not available on homebrew.

[2021-04-08 17:11] jsjoeio commented on #3070
Thanks for reporting. Duplicate #3004 and #3038

Please see: https://github.com/cdr/code-server/discussions/3038

We're working on getting a fix out soon!

[2021-04-08 17:11] #3070 closed

[2021-04-08 17:17] jsjoeio commented on #3073
Thanks for the detailed bug report and the video @ToastOnAStik - we'll investigate this.

[2021-04-08 17:32] jsjoeio commented on #3004
@yamajik you can uninstall with homebrew:
[code]

and reinstall with yarn/npm:
[code]

[2021-04-08 21:03] JammSpread commented on #3073
Can confirm this on Railway as well. Though it might be related to Railway exclusively as I never experienced this elsewhere.

[2021-04-08 21:06] jsjoeio commented on #3073
Thanks for confirming @JammSpread - Ah okay. Good to know. Yeah could be related to Railway then. cc @bpmct

[2021-04-08 21:45] nodesocket commented on #3004
@bpmct just upgrade my Helmm chart to use `3.9.3` and did a Helm upgrade and things are working now. So, it appears the fix added in `3.9.3` fixed the issue.

[2021-04-08 22:02] jsjoeio commented on #3004
Awesome! Thanks for checking and letting us know. Going to close this for now. Feel free to open a new issue or post in the v3.9.3 if you see anything funky.

[2021-04-08 22:02] #3004 closed

[2021-04-08 22:06] jsjoeio commented on #2975
We've published `3.9.3` which should include this fix. Please upgrade and let us know if you run into any issues.

Feel free to post on [this discussion](https://github.com/cdr/code-server/discussions/3075).

[2021-04-08 22:10] jsjoeio commented on #3044
Haven't heard from OP. Marking as `wontfix`.

[2021-04-08 22:11] #3051 closed

[2021-04-08 22:13] jsjoeio commented on #3017
Hi can you try upgrade to `3.9.3` and letting us know if you're still experiencing the same issue?

Feel free to post in the [release discussion](https://github.com/cdr/code-server/discussions/3075) as well.

[2021-04-08 22:14] jsjoeio commented on #3027
Hi can you try upgrade to `3.9.3` and letting us know if you're still experiencing the same issue?

Feel free to post in the [release discussion](https://github.com/cdr/code-server/discussions/3075) as well.

[2021-04-08 22:14] jsjoeio commented on #3014
Hi can you try upgrade to `3.9.3` and letting us know if you're still experiencing the same issue?

Feel free to post in the [release discussion](https://github.com/cdr/code-server/discussions/3075) as well.

[2021-04-08 22:17] jsjoeio commented on #3036
@leKamikaze1 can you try upgrading to 3.9.3 and seeing if that fixes it?

I just tried on my Pixel 2 and it's semi-working. The backspace is being funky 🤔

https://user-images.githubusercontent.com/3806031/114103165-79feae80-987d-11eb-81e0-510941d366da.mp4

[2021-04-08 22:28] leKamikaze1 commented on #3036
Sure, wait a sec
PD: About the backspace thing, I noticed the same issue occurred in 3.9.1 in my samsung galaxy tab, it's not something specifically wrong with 3.9.3

[2021-04-08 22:31] jsjoeio commented on #3036
Interesting. I wonder if it's something we changed or upstream. I can try to reproduce with Codespaces to check.

[2021-04-08 22:39] jsjoeio commented on #3036
The backspace works in Codespaces, but it looks like the cursor jumps one. Probably separate issue.

https://user-images.githubusercontent.com/3806031/114104868-86383b00-9880-11eb-9e3a-9e5115037f6a.mp4

[2021-04-08 22:42] jsjoeio commented on #3036
Actually, I found out what it is. It's an upstream issue here:

- upstream: [Issues with Backspace in Codespaces on Android (Surface Duo)](https://github.com/microsoft/vscode/issues/107602)
- underlying issue: [Support mobile platforms](https://github.com/xtermjs/xterm.js/issues/1101)

[2021-04-08 22:44] leKamikaze1 commented on #3036
Alright, so I shouldn't make a new issue? Also, code-server 3.9.3 is building, when its done, ill test if everything works

[2021-04-08 22:46] jsjoeio commented on #3036
No, because it's upstream. What we can do is document the issue in the Termux docs though. I'll create a separate issue for that.

[2021-04-08 22:47] jsjoeio opened #3079 "Document Android backspace issue"
We need to indicate in the Termux docs there are known issues with the backspace key on Android (using on-screen keyboard).

See [comment](https://github.com/cdr/code-server/issues/3036#issuecomment-816278737)

Possibly:
- [ ] add new `docs/termux.md` file and add there.

[2021-04-08 23:18] leKamikaze1 commented on #3036
Alright, v3.9.3 is working now, and there's something strange with backspace, it sometimes works and sometimes it doesn't, lemme try to record it

[2021-04-08 23:48] leKamikaze1 commented on #3036
Now backspacing when able CRASHES code-server?! https://youtu.be/WOGQubsOjoo

[2021-04-08 23:50] leKamikaze1 commented on #3036
Well, the backspacing thing is now a completely different thing, now code-server is working and the 500 error isn't present anymore. I'm gonna close this and make a different issue regarding the crash. Thanks for the help @jsjoeio !

[2021-04-08 23:50] #3036 closed

[2021-04-08 23:53] leKamikaze1 commented on #3079
Backspace works if you start backspacing "in the middle" of the word you wanna delete, but it crashes code-server(? Proof here: https://youtu.be/WOGQubsOjoo

[2021-04-09 00:15] SJang1 commented on #3061
Finally got an error on the client-side on 3.9.3
No unusual logs on the server-side even for now.

[code]

[2021-04-09 01:25] SJang1 opened #3080 "Scrolling using Magic Keyboard does not work on iPad."
## OS/Web Information

- Web Browser: Safari
- Local OS: iPadOS 14.4.2(18D70) / iPad Pro 2nd gen 11inch
- Remote OS: Ubuntu 20.04
- Remote Architecture: x64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. Open Safari, and go into code-server
2. Open any tab that contains something available to scroll (Even Source code area is affected.)
3. Try t

[2021-04-09 01:40] ToastOnAStik commented on #3073
Fixed in the latest release (9.3.2)

[2021-04-09 02:17] Eternity714 commented on #3017
Thanks for reminding，I will try it as quickly

[2021-04-09 03:27] Lestt commented on #1315
Any news about the possibility / feasibility to have a replica of the [Remote Development extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) for code-server ?

I'm using code-server on my Chromebook, as vscode itself is too laggy on it. But I need to remote develop in a Docker container. As this image is shared with my team, I don't want to

[2021-04-09 04:31] wingzero0 commented on #3027
@jsjoeio I get the same error in 3.9.2, 3.9.3, but not before 3.9.1

Here is my running log from 3.9.3, I run it in docker, base image is ubuntu:20.04, docker host is also ubuntu:20.04.
but my docker host worked behind my company firewall, not sure whether if it is related.
[code]

This is my Dockerfile without company CA cert. (sorry that I cannot attach the ca cert to reproduce the environment)

[2021-04-09 04:52] oxy commented on #3080
Duplicate of #1455 - closing.
Hopefully iOS 14.5 fixes it, from what is in the other issue :crossed_fingers:

[2021-04-09 04:52] #3080 closed

[2021-04-09 05:33] wingzero0 commented on #3027
I made a docker-compose script for easier to describe my environment.

I pushed my docker image to docker hub [https://hub.docker.com/repository/docker/wingzzz2003/codeserver_ubuntu](https://hub.docker.com/repository/docker/wingzzz2003/codeserver_ubuntu)
tag 3.9.3 was built today and tag 3.9.1 was built 2 weeks ago

This is my docker-compose script [https://github.com/wingzero0/codeserverUbuntu/bl

[2021-04-09 05:55] oxy opened #3084 "Add note for update-vscode on Fedora"
On Fedora, `git subtree` is shipped in a separate package that has to be installed with `dnf install git-subtree`.
Add this to CONTRIBUTING.md or other place as appropriate.

[2021-04-09 07:00] grewhit25 commented on #2975
I can confirm v3.9.3 works for me:
IpadOS 14.4.2, microk8s  v1.20.5, helm chart, Safari

[2021-04-09 07:06] springhack commented on #2975
Version 3.9.3 work for me, iPadOS 14.4.2, install using deb package

[2021-04-09 08:02] prosenjit-manna commented on #33
I am able to create multiple instance with multiple local user account and setup in aws ubuntu server. Each user have their own directory permission.

[2021-04-09 11:43] lovetodream commented on #3014
The issue is resolved after the update, at least for me. 👍

[2021-04-09 11:49] sr229 commented on #1315
Haven't been able to do this again, but refer to my findings above. I'm sure you can help out with the search :D

[2021-04-09 12:56] sr229 commented on #33
This is out of topic and not related to the actual feature request.

[2021-04-09 13:26] L3P3 commented on #3051
Just for the record, if anyone else has this problem, run this command as root:
[code]
With this, automatic snake case transformation is still not working but at least, everything else does.

[2021-04-09 14:25] vikstrous2 commented on #2112
Sorry, this turned out to be a pretty time consuming exercise. I don't think I'll be able to come up with a better repro easily. I tried disconnecting the network, but that didn't seem to work. I'm not sure exactly what happens at the network level when a chromebooks falls asleep.

[2021-04-09 17:09] sweet-mentat commented on #3014
I updated, and received these errors in journalctl:
Apr 09 16:59:08 ip-10-114-44-7 systemd[10796]: Started code-server.
Apr 09 16:59:09 ip-10-114-44-7 code-server[30652]: [2021-04-09T16:59:09.769Z] info  code-server 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1
Apr 09 16:59:09 ip-10-114-44-7 code-server[30652]: [2021-04-09T16:59:09.772Z] info  Using user-data-dir ~/.local/share/code-server
Apr 09

[2021-04-09 18:48] fastender commented on #3017
Thank you very much. The update has solved the problem. You guys are great!

[2021-04-09 22:01] ToastOnAStik commented on #3073
Opening this issue again as the problem comes and goes

[2021-04-09 22:34] bpmct commented on #3073
@ToastOnAStik do you have any logs from within VS Code output itself or the browser that would allow us to troubleshoot this?

[2021-04-09 22:34] bpmct commented on #3073
FWIW I am noticing this sometimes within VS Code itself

[2021-04-09 22:43] ToastOnAStik commented on #3073
Where would I be able to find this?

[2021-04-09 23:12] ToastOnAStik commented on #3073
Also adding `"git.autorefresh": true` to `settings.json` does not fix the problem. Lmk how it goes for you

[2021-04-09 23:24] davisnando commented on #1851
Getting same error on raspberry pi 2 too

[2021-04-10 17:22] jkaster commented on #1964
Is anyone currently working on this? Having `?path=` support file names would allow me to use code-server rather than rolling my own solution, which would be a waste when code-server is so close. I haven’t looked at the code yet, but I’ll see if I can find where `path` is implemented

[2021-04-10 17:52] jkaster opened #3091 "Can't git clone code-server"
## OS/Web Information

- Web Browser: Chrome, but N/A
- Local OS: Debian
- Remote OS: N/A
- Remote Architecture: N/A
- `code-server --version`: N/A

## Steps to Reproduce

1. `git clone git@github.com:cdr/code-server.git`

## Expected

the repository should be fully cloned without error

## Actual

[code]

## Notes

This issue can be reproduced in VS Code: **No**

[2021-04-10 17:54] jawnsy opened #3092 "Remove tests and test data from release package"
The release package includes various text fixtures, including things like TLS private keys, which some container scanning tools (erroneously) flag as problematic. While this is a limitation of the various container scanning tools, it would be easier for us to avoid the problem entirely, while also allowing us to reduce the size of the release archive, by removing tests from our release package.

F

[2021-04-10 17:55] jkaster commented on #3091
Follow up: I can run `yarn install` even after this error (but doubt I''ll be able to submit any PRs to this repo).

However, that also fails because `jq` is presumed to be installed.

[code]

[2021-04-10 17:57] jkaster commented on #3091
Installed `jq` and now:

[code]

[2021-04-10 18:00] jkaster commented on #3091
Wow. create `test` and get this infinitely with `yarn install`

[code]

Looks like I won't be working on #1964 after all. Pity.

[2021-04-10 18:46] jawnsy commented on #3091
Hey there! :wave:

Sorry about the challenges of getting a development environment set up for code-server, that's definitely not the experience that we want. We're working on making things better, and issues like yours help us with that, so thanks for sharing the feedback!

I'm not one of the primary maintainers for code-server, so I'm not entirely sure about it, but the git-lfs error looks like i

[2021-04-10 18:48] jkaster commented on #3091
Thanks for the additional pointer to the contributor guide. I'll go through that.

[2021-04-10 22:10] #3044 closed

[2021-04-11 12:26] simonjcarr opened #3094 "Is code-server free?"
The repository contains an MIT Licence, which I think means I can use the software without charge including reselling my own software that includes code-server, as long as I include the licence.

When I visit the coder website ( https://coder.com/pricing ), it says that a self-hosted version of code-server is $35 per month per user and there is no mention of a community edition.

Which is correct?

[2021-04-11 12:46] nooobcoder commented on #3094
@simonjcarr do not compare code-server with coder. Both of them are very different in use case. Coder is an enterprise workspace solution for coders to provide environments to people in an organisation on demand whereas code-server is different. @jsjoeio please have an insight on the licensing part. Being not a part / moderator of this project can't say much about it, but i can explain the differe

[2021-04-11 12:48] nooobcoder commented on #3019
@jsjoeio @code-asher can I expect this feature in the next release `3.9.4` I am skipping updating to `3.9.3` as I could not see any major changes in code-server.

[2021-04-11 17:02] metalshanked opened #3097 "Issue when Deleting / Uploading Large Files (<50MB)"
## OS/Web Information

- Web Browser: Chrome [Version 89.0.4389.82 (Official Build) (x86_64)]
- Local OS: Debian (Code Server Docker)
- Remote OS: MacOS (Big Sur)
- Remote Architecture: Darwin x64
- `code-server --version`: 3.9.3 and 3.9.1

## Steps to Reproduce

1. Select a Large File (Tried with a 44.8MB file)
2. Right Click and Click "Delete Permanently"
3. Code Server starts Deleting but the p

[2021-04-11 20:53] jkaster commented on #3091
While `yarn && yarn watch` worked after installing `git-lfs` and re-cloning, I kept getting 500 errors.

I tried Docker-based build. I see

[code]

A fair bit during the `CI` `yarn` command which completes without errors eventually.

Unfortunately, the server doesn't respond after the CI `yarn watch` although it also runs successfully. I see

[code]
but `http://127.0.0.1:8080 ` and `http://localho

[2021-04-11 20:58] jkaster commented on #3091
The 500 error I get with straight `yarn watch` is:
[code]

[2021-04-11 21:01] jkaster commented on #3091
With `./ci/dev/image/run.sh ./ci/steps/release.sh` I get:

[code]

[2021-04-11 21:35] jkaster commented on #3091
This worked (vscode build took a **long** time but I guess that's expected):

[code]
followed by

[code]

So I can see my last session from the installed `code-server`, but I see these log errors after it successfully opens my last workspace (although I keep having to reconnect).

[code]
and also

[code]

but only being able to run the release without being able to step through what's going on whe

[2021-04-11 23:14] bpmct commented on #3094
Thanks @nooobcoder for the response! code-server is totally free and under the [MIT License](https://github.com/cdr/code-server/blob/main/LICENSE.txt). Coder is our commercial product for developer teams with additional features (user-management, multiple workspaces, etc) is what is discussed on the pricing page.

We'll be sure to add more details on that pricing page to make sure the difference i

[2021-04-11 23:14] #3094 closed

[2021-04-12 05:46] dudss37 opened #3103 "9"
- [ ] Extension name:
- [ ] Extension GitHub or homepage:

[2021-04-12 05:46] #3103 closed

[2021-04-12 12:46] hglyou opened #3105 "Changing keyboard shortcuts does not change Keyboard Shortcuts UI immediately"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Linux
- Remote OS:
- Remote Architecture:
- `code-server --version`: 3.8.0

## Steps to Reproduce

1. File >> Keyboard Shortcuts
2. Change any KeyBinding
3. Keybinding is changed but the ui component does not change immediately

## Expected

UI component should reflect changes in Keybinding. Users might think they cannot change KeyBindings

[2021-04-12 13:04] ToastOnAStik commented on #3073
This may have to do with the number of file watchers or something, as nodemon fails with the error `Error: System limit for number of file watchers reached`

[2021-04-12 14:40] bpmct opened #3106 "command to open file at line number"
suggested by @jkaster

Currently a file can be opened in an existing window: #1994

VS Code itself supports opening a file with line number with the -g (goto?) flag (see microsoft/vscode#39891):
[code]

It would probably make sense to reuse this schema.

[2021-04-12 16:12] code-asher commented on #3091
I'm sorry this was so difficult. We'll need to take your commentary and improve the process.

The 500 error after `yarn watch` is most likely because VS Code hadn't finished compiling yet. code-server finishes relatively quickly but VS Code won't be ready until the terminal outputs `finished compilation` which can take quit a while. We'll need to look into generating a better error message for thi

[2021-04-12 16:23] code-asher commented on #3019
We don't have this on the `3.9.4` milestone; I think it's unlikely we'll get to it soon.

[2021-04-12 16:40] code-asher commented on #3092
I think the only ways are:
1. Submit PRs upstream to exclude test directories
2. Remove them in a postinstall script

[2021-04-12 16:44] code-asher commented on #1851
@davisnando Please feel free to open a new issue with debugging info. Thanks!

[2021-04-12 16:49] jkaster commented on #3106
Thanks for creating the follow-up issue. It's a modest enhancement of  #1964

My use case is for the "protocol" or url version of `code-server`. Our [API Explorer](https://github.com/looker-open-source/sdk-codegen/tree/main/packages/api-explorer) can direct link to source code declarations and example files. Currently, those open as GitHub permalinks.

My goal is to support opening the relevant fi

[2021-04-12 17:03] oxy commented on #3030
This is expected behavior - `lib/node` is the official nodejs build, which builds against glibc, while Termux builds against bionic libc - many of the native libraries VSCode uses to run won't work either, since they're compiled against glibc too.

I'd recommend installing with yarn (`yarn global add code-server`) on Termux - see https://github.com/cdr/code-server/blob/main/docs/install.md#termux.

[2021-04-12 17:03] #3030 closed

[2021-04-12 17:09] code-asher commented on #2112
I've seen this occasionally as well but I'm not sure what exactly reproduces it. I think we should still try to add some more logging around what connections exactly are open to help figure it out.

[2021-04-12 17:10] jkaster commented on #3091
Good to know. I appreciate the responsiveness for sure! I'll wait a longer for the `yarn && yarn watch` approach when I can look at this again. Maybe a clearer message in the build process that everything is **really** done now would help.

[2021-04-12 17:11] code-asher commented on #3091
That makes sense! We can definitely do that.

[2021-04-12 17:12] jsjoeio opened #3112 "test extension request"
- [ ] Extension name: Hello world
- [ ] Extension GitHub or homepage: hello-world dot com

[2021-04-12 17:12] #3112 closed

[2021-04-12 17:16] code-asher opened #3113 "Improve messaging around yarn watch"
It's not clear whether VS Code is just failing or whether it's still building. I think it might make sense to have the error say that VS Code is still building (when that's the case) on the error page and on the terminal (instead of the ENOENT). Once VS Code has finished we can also output another message on the terminal explicitly saying so.

See https://github.com/cdr/code-server/issues/3091

[2021-04-12 17:19] code-asher opened #3114 "Remove use of git-lfs"
I think we should be OK to normally commit the images in exchange for removing a dependency.

See https://github.com/cdr/code-server/issues/3091

[2021-04-12 17:25] 8thHalfHour commented on #2943
I noticed the activity bar is working now, and I just wanted to say thanks! 👍

[2021-04-12 17:58] jsjoeio commented on #1964
Not actively being worked on, but I can move it to On Deck so it's on our radar and ready to be worked on!

[2021-04-12 17:59] jkaster commented on #1964
Thanks so much for the responsiveness.

[2021-04-12 17:59] jsjoeio commented on #3017
Hooray! Thanks for being so patient and understanding as we improve code-server. Closing this for now. If it reappears, let us know or open a separate issue!

[2021-04-12 17:59] #3017 closed

[2021-04-12 18:05] jsjoeio commented on #3097
I feel like we've had issues with this before.

Running code-server locally on my macOS and accessing in Chrome, **I was not able to reproduce**.

## Steps followed

1. `brew install code-server` (3.9.3)
2. create a large file: `mkfile -n 50m temp_50mb_file`
3. Delete permanently from code-server

## Screenshot

https://user-images.githubusercontent.com/3806031/114440132-a0269600-9b7e-11eb-9a8d-59

[2021-04-12 18:06] jsjoeio commented on #3014
Interesting! Thanks for confirming @lovetodream

Thanks for the logs @sweet-mentat - we'll have to dig into this a bit more.

[2021-04-12 18:11] jsjoeio commented on #1315
Yes, echoing @sr229 - no updates either.

Though @bpmct may be able to suggest some workarounds since he has more experience in those kind of situations.

[2021-04-12 18:11] jsjoeio commented on #2975
Awesome! So glad to hear that. Thank you @grewhit25 and @springhack !

[2021-04-12 18:15] jsjoeio commented on #3027
I like how simple/straightforward your docker-compose script is!

Thanks for the logs.

Bummer. Okay this is probably a separate issue then. We'll investigate.

[2021-04-12 18:22] jsjoeio commented on #3105
I was able to reproduce this running code-server 3.9.3 on macOS + Chrome. I didn't see any logs (in the terminal or browser) that indicate an error. I'll have to see if this happens in Codespaces as well.

## Screenshot

https://user-images.githubusercontent.com/3806031/114442288-41aee700-9b81-11eb-82e7-ac77d903ed4c.mov

[2021-04-12 18:22] oxy commented on #2938
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:22] #2938 closed

[2021-04-12 18:23] oxy commented on #2936
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:23] #2936 closed

[2021-04-12 18:23] oxy commented on #2932
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:23] #2932 closed

[2021-04-12 18:23] oxy commented on #2755
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:23] #2755 closed

[2021-04-12 18:23] oxy commented on #2657
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:23] #2637 closed

[2021-04-12 18:24] #2630 closed

[2021-04-12 18:25] oxy commented on #3005
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:25] #3005 closed

[2021-04-12 18:26] jsjoeio commented on #3079
Argh, well at least we know there is a workaround.

@leKamikaze1 do you know if the issue occurs with a separate bluetooth keyboard? I can try testing too. Wondering if this is specific to the on-screen keyboard.

[2021-04-12 18:28] leKamikaze1 commented on #3079
Sadly, I never had a Bluetooth keyboard In my life, so its pretty impossible for me to test that

[2021-04-12 18:38] oxy commented on #2957
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:38] #2957 closed

[2021-04-12 18:38] oxy commented on #2945
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:38] #2945 closed

[2021-04-12 18:39] oxy commented on #2275
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:39] #2275 closed

[2021-04-12 18:39] oxy commented on #2045
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:39] #2045 closed

[2021-04-12 18:39] oxy commented on #2265
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:39] #2265 closed

[2021-04-12 18:39] oxy commented on #2028
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:39] #2028 closed

[2021-04-12 18:40] jsjoeio commented on #3061
Interesting! Well at least this is a starting point :) Thanks for the update @SJang1 !

[2021-04-12 18:40] oxy commented on #2237
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:40] #2237 closed

[2021-04-12 18:40] oxy commented on #2228
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:40] #2228 closed

[2021-04-12 18:42] oxy commented on #2210
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:42] #2210 closed

[2021-04-12 18:44] oxy commented on #2583
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:44] #2583 closed

[2021-04-12 18:45] jsjoeio opened #3115 "[dev]: switch from jest-playwright to playwright test"
The Playwright team has reached out and suggested we use `playwright-test` instead of `jest-playright` as our test runner. The APIs look similar but they offered to help/guide the migration.

Originally posted: https://github.com/cdr/code-server/pull/3016#issuecomment-816329571

Note: I'll probably start on this sometime this week and post thoughts and ask questions as I go here.

[2021-04-12 18:47] jsjoeio commented on #3073
You can run `code-server --log debug`  and see the logs printed in your terminal. For the browser, open the console and you may see some there too.

[2021-04-12 18:50] oxy commented on #2177
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:50] #2177 closed

[2021-04-12 18:50] oxy commented on #2537
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:50] #2537 closed

[2021-04-12 18:54] oxy commented on #2519
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests.

We suggest installing the VSIX file and then install

[2021-04-12 18:54] #2519 closed

[2021-04-12 19:10] jsjoeio commented on #3019
Echoing Asher, this is a lower priority for us. We also have some changes happening across our internal/external projects, which would be related to this. cc @vapurrmaid

[2021-04-12 19:20] metalshanked commented on #3097
Thanks, it seems to be very strange and i am not able to figure out if the issue is with my setup or code-server.
1. I noticed that large files such as ".csv" text files do get uploaded without issue
2. The setup is MacOS Chrome Browser --> F5 LoadBalancer --> Nginx Ingress (K8s)--> Pod having Docker Container running code-server
Whenever the issue happens i see the below in the Ingress logs
recv(

[2021-04-12 21:07] jsjoeio opened #3116 "add --upgrade flag and print message showing up to upgrade"
We discussed adding the `--upgrade` flag to upgrade. A feature like this used to exist in code-server but presenting a lot of issues.

To make a slight improvement, I propose we add the flag which prints out a message explaining how to upgrade. That would be a slight DX improvement to the current approach while limiting an increase in maintenance

[2021-04-12 21:15] heathen711 opened #3117 "[3.9.3][Mac] Search errors out with ENOENT"
## OS/Web Information

- Web Browser: Safari
- Local OS: MacOS 11.3
- Remote OS: MacOS 10.15.17
- Remote Architecture: x64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. Open project
2. Search
3. Try to search for something in the project
4. Get ENOENT error

## Expected

Search to produce results

## Actual

Error message (see screenshot)

##

[2021-04-12 21:19] jsjoeio commented on #2943
Hooray! Glad to hear that. I'm going to assume we can close this then. If that's a mistake, let me know and I'll reopen.

[2021-04-12 21:19] #2943 closed

[2021-04-12 21:23] #2657 closed

[2021-04-12 21:24] jsjoeio commented on #3079
No worries at all. I have one lying around somewhere so I can test!

[2021-04-12 21:26] jsjoeio commented on #3097
Thanks for the additional information. We may be able to create a test environment and try to reproduce this with a similar setup to yours (cc @bpmct any tips here for using Vultur?).

@code-asher may have insight too

[2021-04-12 21:31] JammSpread commented on #3073
Oh of course, that must be the reason. Though that seems out of our hands as you can't modify the system value Railway set for the max amount of file watchers.

[2021-04-12 21:36] jsjoeio commented on #3117
Unfortunately, I cannot reproduce locally using macOS + Safari + 3.9.3

## Demo

https://user-images.githubusercontent.com/3806031/114465666-4634c900-9b9c-11eb-87fc-481c4455dcad.mov

Though I do think I could have installed `ripgrep` separately outside of code-server hence why. Not sure if that could be affecting this.

Did you do this?

And if you install ripgrep with `brew install ripgrep` and t

[2021-04-12 21:39] heathen711 commented on #3117
Just for good measure I deleted the cache'd installer and install to ensure the script downloaded the latest.

[code]

My path is updated:
`/Users/local/.local/bin:/Users/local/Library/Python/3.8/bin:/Library/Frameworks/Python.framework...`

I don't have brew installed (and frankly don't want to install it as brew messes with other things).

I've never install `ripgrep` in any way manually.

[2021-04-12 21:42] jsjoeio commented on #3117
No worries then! Just an idea.

Yeah I don't think you should have to. Let me try this:

1. Uninstall `ripgrep` and `code-server`
2. Reinstall `3.9.3`
3. Test

[2021-04-12 21:51] jsjoeio commented on #3117
Hmm...still not able to reproduce. But when the script runs, it's installing it via homebrew for me so I guess the repro isn't 1:1 🤔

## Demo
https://user-images.githubusercontent.com/3806031/114466825-d293bb80-9b9d-11eb-8c54-26d78accea62.mov

Hmm...I'm guessing you tried this too?

[From comment](https://github.com/cdr/code-server/issues/1907#issuecomment-663593438)

@code-asher any thoughts on w

[2021-04-12 21:58] code-asher commented on #3117
Ah this has happened before actually.  Ripgrep fails to download so it got packaged up without it.

Ideally `yarn install` should fail when that happens but for whatever reason it doesn't.

[2021-04-12 22:00] code-asher commented on #3117
Here's the failure: https://github.com/cdr/code-server/runs/2299634815?check_suite_focus=true#step:7:50

[2021-04-12 22:20] jsjoeio commented on #3117
Wow! Nice find 🙌 Would not have thought to look there.

A few follow-ups then:
1. What workaround can we suggest for @heathen711?
2. How can we prevent this from slipping through the release in the future?

Ideas:
- add a step to [`build-standalone-release.sh`](https://github.com/cdr/code-server/blob/main/ci/build/build-standalone-release.sh) that checks for `ripgrep` and fails if not present
- ad

[2021-04-12 22:26] ToastOnAStik commented on #3073
Yeah as certain times of the day it works

[2021-04-12 22:33] vapurrmaid commented on #3019
Hey @jsjoeio - yea, I think this is more likely to land June or shortly thereafter, as our internal design system is being built out in our April and May iterations. This exact ticket and `code-server` is one of the first uses-cases I have in mind and am building for as an acceptance state for our design system.

[2021-04-12 23:08] code-asher commented on #3117
An e2e test for searching would be excellent. But I think testing for the existence of the binary is a good workaround until we do that.

Related: https://github.com/cdr/code-server/issues/2651

For working around this issue the easiest thing I can think of aside from downgrading is:

[code]

That will run the postinstall script that downloads ripgrep.

[2021-04-12 23:12] JammSpread commented on #3073
Yup, at those time you there might be less active watchers.

[2021-04-12 23:17] jsjoeio commented on #2651
Check to make sure that `ripgrep` exists to prevent #3117

[2021-04-12 23:22] jsjoeio commented on #3115
![](https://github.trello.services/images/mini-trello-icon.png) [code-server: switch from jest-playwright to playwright test](https://trello.com/c/NqOBxHxe/32-code-server-switch-from-jest-playwright-to-playwright-test)

[2021-04-12 23:23] jsjoeio commented on #2960
![](https://github.trello.services/images/mini-trello-icon.png) [code-server: replace hub with gh](https://trello.com/c/CDr0J1Xv/33-code-server-replace-hub-with-gh)

[2021-04-13 00:17] heathen711 commented on #3117
[code]
Confirmed workaround works!

[2021-04-13 01:05] futurist opened #3122 "Security issue on /static route"
## OS/Web Information

- Web Browser: Any
- Local OS: macOS14
- Remote OS: Deiban9
- Remote Architecture: Linux_x64
- `code-server --version`: 3.8.0

## Steps to Reproduce

1. Start code-server
2. From browser access GET CDR-HOST/static/c4610f7829701aadb045d450013b84491c30580d/usr/lib/code-server/lib/vscode/node_modules/xterm-addon-search/lib/../../../../../../../../../../etc/passwd
3. You get the

[2021-04-13 02:42] bpmct commented on #1315
Sadly I don't. This is something I would love to see as well :(

[2021-04-13 02:52] Lestt commented on #1315
@jsjoeio I'm keen to help on my spare time, but don't know where to start. Is there any plan to follow or something ?

[2021-04-13 06:02] kavinvin commented on #1888
In my case, I found that this problem is due to using linux service file without specifying working directory. So I guess it got some permission problem. After I specified `WorkingDirectory` for the service, the problem was resolved.

[code]

[2021-04-13 09:41] caiych opened #3124 "Markdown preview doesn't work with path relative to workspace root"
## OS/Web Information

- Web Browser: Edge
- Local OS: MacOS
- Remote OS: Rasbian code-server image by linuxserver.io
- Remote Architecture: ARM
- `code-server --version`: 3.9.1 e0203f2a36c9b7036fefa50eec6cf8fa36c5c015

## Steps to Reproduce

1. Setting up a directory structure like this:
[code]
2. 1.md contains
[code]
3. Open folder workspace
4. Open 1.md and open Markdown preview
5. Click on the

[2021-04-13 15:29] VoyTechnology commented on #2822
# WORKAROUND

On your arm64 instance run:

[code]

I am using Arch, so the installation directory may vary, also, I am not sure which is the latest version, and `v0.2.1` is the minimum, so update if necessary.

But devs, please update the CI to include the proper binary.

[2021-04-13 16:32] jsjoeio commented on #3122
![](https://github.trello.services/images/mini-trello-icon.png) [code-server: set up security policy](https://trello.com/c/wEMSnxE8/36-code-server-set-up-security-policy)

[2021-04-13 16:48] bpmct commented on #3122
@futurist are you authenticated to code-server when you experience this or are you able to access this before you log in?

[2021-04-13 17:07] jsjoeio commented on #3117
Hooray! Glad to hear it.

I'm going to close this for now.

Thank you @heathen711 for helping us find a bug in code-server. Since we have #2651 open, we can use that to track preventing this in the future.

[2021-04-13 17:07] #3117 closed

[2021-04-13 17:10] oxy commented on #3122
Tested locally on 3.9.2, but the route in question hasn't had major changes.
[code]

It works in the browser when authenticated, but not when logged out;
we deliberately allow this when authenticated, see https://github.com/cdr/code-server/blob/v3.8.0/src/node/routes/static.ts#L42-L48

I don't see this as a security issue - when logged in, you have access to a terminal and can do pretty much whate

[2021-04-13 17:10] #3122 closed

[2021-04-13 17:12] jsjoeio commented on #1315
@Lestt that's awesome to hear!

I'm not sure exactly where to start either :( I would take a look through the comments here and see what you can learn from code-asher and sr229's comments.

If you'd like, you could do that and then share comments here as you go? We can do our best to guide/answer questions too!

[2021-04-13 17:23] jsjoeio commented on #3124
There's a chance I'm misunderstanding something here, but I am **not** able to reproduce locally (using macOS + Chrome).

## Demo

https://user-images.githubusercontent.com/3806031/114594361-07f1e500-9c42-11eb-9b21-611d9dc1bb4a.mov

Could one of your extensions be modifying the link paths and causing this behavior?

[2021-04-13 17:25] jsjoeio commented on #2822
Thanks for posting your workaround @VoyTechnology!

Yes, @oxy opened a PR to fix this: https://github.com/cdr/cloud-agent/pull/13

Hopefully we can get that reviewed by the team that manages that project and merged in soon.

[2021-04-13 17:48] jsjoeio commented on #3115
## Migration Process

Placeholder

[2021-04-13 17:48] jsjoeio commented on #3115
## Feedback

Placeholder

[2021-04-13 21:01] dgozman commented on #3115
Thank you for the feedback! I have a few comments/questions, but we'll address most of the items.

- The config file is a deliberate decision. I understand that it might feel unfamiliar, but some documentation is already there and we'll expand it. I hope that it will feel much better once you'll get to use any flexibility that it provides.

- We are not providing any globals, instead you should be

[2021-04-14 00:39] jsjoeio commented on #3115
Thanks for the response @dgozman!

I think you're right. I'm already starting to see some of the benefits of the flexibility provided by the config file.

Awesome! I figured out how to get the `browserName` luckily, but some docs on that would be nice.

That worked! Thanks!

Honestly, I wish `folio` had `--reporter=jest` so that I could get a jest-like reporter out of the box. I like the green che

[2021-04-14 03:11] caiych commented on #3124
Thanks for looking into this - your understanding is correct.

It's not about extensions, but the image built by https://github.com/linuxserver/docker-code-server

It works correctly on an instance installed by the script in https://github.com/cdr/code-server.

Before closing this out, any chance you have any idea what could be the reason this is happening?

(I probably should have switched to arm

[2021-04-14 08:21] caiych commented on #3124
It seems it's also only broken on 3.9.1. After re-pulling the latest 3.9.3 image it seems to be OK.

Sorry about the noise, I should have try upgrade first.

[2021-04-14 08:21] #3124 closed

[2021-04-14 08:34] Eternity714 commented on #3017
It still not work in 3.9.3，maybe I should try to use nginx

[2021-04-14 13:56] kdeyko commented on #2767
Having the same issue on code-server v3.9.3.
Here is the extract from my compose file:
[code]

[2021-04-14 18:14] jsjoeio commented on #3124
Glad to hear upgrading fixed it!

Hmm...yeah, looking at the [Dockerfile](https://github.com/linuxserver/docker-code-server/blob/master/Dockerfile#L41-L48), I don't see anything unusual. Ping @bpmct in case he sees anything I don't.

[2021-04-14 18:19] jsjoeio commented on #3017
Shoot, sorry to hear that @Eternity714. Any logs `code-server --log debug`?

And in case you haven't seen it, we have guides for deploying code-server across various platforms in case you want to try a different approach: https://github.com/cdr/deploy-code-server

[2021-04-14 18:29] jsjoeio commented on #2767
@kdeyko would be happy to look into this to help.

Is there any chance you could provide repro steps using [this template](https://github.com/cdr/code-server/issues/new?assignees=&labels=&template=bug-report.md&title=)?

[2021-04-14 22:25] jsjoeio commented on #2734
Spoke to the developer working on this before. We're going to aim to get this fixed before May 1st.

Until then the workaround is to use a VPN and set the region of where your server is located.

[2021-04-15 08:51] kdeyko commented on #2767
@jsjoeio thanks for your reply!
Would you like me to create a new bug report via this template, or keep it in scope of this issue?

[2021-04-15 13:35] danyhoron commented on #3027
I encountered the same issue in Chrome and Brave Browser on MacOS (on v3.9.2 and v3.9.3 but not on v3.9.1).
v3.9.3 works on Safari though.

[2021-04-15 14:41] eng-dibo opened #3140 "unable to activate any extension"
## summary
I can open code-server, but suddenly I can't see any extension loaded
I see 'Activating extensions' for seconds, but no any extension loaded without any failure message.
this also makes `git` don't work, check the attached screenshot.

## OS/Web Information

- Web Browser: Google chrome Version 89.0.4389.128 (Official Build) (64-bit)
- Local OS: windows 8.1 pro preview
- Remote OS: Debi

[2021-04-15 15:58] leKamikaze1 commented on #3079
@jsjoeio Found something?

[2021-04-15 17:55] jsjoeio commented on #2767
Feel free to do it here (thank you for asking!).

[2021-04-15 17:58] jsjoeio commented on #3027
Hmm...I am on macOS and not able to reproduce with 3.9.3

![image](https://user-images.githubusercontent.com/3806031/114916211-62717980-9dd9-11eb-97b8-c5cb12cf8dd2.png)

@danyhoron do you see any logs in the browser or when running `code-server --log debug` with 3.9.3?

[2021-04-15 18:00] jsjoeio commented on #3140
Hi @eng-dibo - can you please update the issue description and use the [bug-report template](https://github.com/cdr/code-server/issues/new?assignees=&labels=&template=bug-report.md&title=)? That will help us help you. Thanks!

[2021-04-15 18:14] jsjoeio commented on #3079
I finally got around to testing - it works with a bluetooth keyboard! No backspace issues 😄

## Demo

https://user-images.githubusercontent.com/3806031/114918195-ab2a3200-9ddb-11eb-8c1a-90d466e434c3.mp4

[2021-04-15 18:19] leKamikaze1 commented on #3079
Well, that's great. So, the issue is on Android's on-screen keyboard? Not sure what would cause it 🤔

[2021-04-15 18:22] jsjoeio commented on #3079
It has to do with the way xterm.js is handling the input for on-screen keyboards I'm guessing:

_Pulled from [comment](https://github.com/cdr/code-server/issues/3036#issuecomment-816278737)_
- upstream: [Issues with Backspace in Codespaces on Android (Surface Duo)](https://github.com/microsoft/vscode/issues/107602)
- underlying issue: [Support mobile platforms](https://github.com/xtermjs/xterm.js/

[2021-04-15 19:04] #3115 closed

[2021-04-15 19:04] #2998 closed

[2021-04-15 19:09] jsjoeio commented on #3115
@dgozman we've migrated over! Thanks so much for your help.

[2021-04-15 19:12] dgozman commented on #3115
@jsjoeio Great! Thank you for your feedback. We'll keep addressing it, and I will comment here with an update.

[2021-04-15 19:37] #3084 closed

[2021-04-15 20:23] eng-dibo commented on #3140
issue updated, @jsjoeio

[2021-04-15 20:40] #3066 closed

[2021-04-15 20:53] oxy commented on #2970
We actually resolved this in the major nuke-CI-and-rewrite it; I just forgot to close the issue :sweat_smile:

[2021-04-15 20:53] #2970 closed

[2021-04-15 21:14] kdeyko commented on #2767
## OS/Web Information

- Web Browser: Safari 14.0.3 (though it doesn't matter)
- Local OS: macOS Catalina 10.15.7 (though it doesn't matter)
- Remote OS: Synology DSM 6.2.3 (Well, [XPEnology](http://xpenology.com), actually, but it should not matter).
[code]
- Remote Architecture: amd64
- `code-server --version`: 3.9.3 ([docker image](https://hub.docker.com/layers/codercom/code-server/3.9.3/images

[2021-04-15 21:18] jsjoeio commented on #3140
Unfortunately, I cannot reproduce locally (I tested two extensions - theme and Vim)

## Screenshot

https://user-images.githubusercontent.com/3806031/114939321-20eec780-9df5-11eb-97c7-c3ac4235452c.mov

## Next Steps

Can you:
- list all the extensions you're using (or post a screenshot)
- uninstall all extensions and see if you get the same issue

I've seen this in the past happen in VS Code and i

[2021-04-15 21:22] jsjoeio commented on #2767
This is super thorough and will be a great start for figuring out this issue. Thanks @kdeyko ♥️

[2021-04-15 21:26] eng-dibo commented on #3140
the console output, without `---verbose` flag

[code]

[2021-04-15 21:36] code-asher commented on #2767
Must be:

https://github.com/cdr/code-server/blob/e9985bd658ac42c5bef38553b3e83fdb1e459be3/ci/release-image/entrypoint.sh#L8-L12

I guess `USER` must get set back to `coder` when the container restarts?

[2021-04-15 21:38] kdeyko commented on #2767
Just in case: I hope I understand the terms “Local OS” and “Remote OS” correctly - for “Remote OS” I mean the one on which I run the docker container.

[2021-04-15 21:52] kdeyko commented on #2767
Also I noticed that after step 4 (restarting) the container gets continuously restarted:
[code]

[2021-04-15 23:32] jsjoeio commented on #3140
[code]

Hmm... wonder what these could be from. Hard to tell.

- list all the extensions you're using (or post a screenshot)
- uninstall all extensions and see if you get the same issue

Did you try these two things? ^

[2021-04-15 23:39] eng-dibo commented on #3140
how to backup the list of extensions, so I can install them again?

[2021-04-15 23:57] jsjoeio commented on #3140
Extensions are stored in `~/.local/share/code-server/extensions`

So as long as you back up that folder, you should be able to easily add them again. Read more [here](https://github.com/cdr/code-server/blob/main/docs/FAQ.md#where-are-extensions-stored)

[2021-04-16 03:42] shangwenhe opened #3142 "使用Docker run.sh时报错，请求的nfpm@v2.3.1是不存在的。"
[code]

[code]
![image](https://user-images.githubusercontent.com/5218468/114968163-628c7a80-9ea8-11eb-8557-e0a23816e844.png)

这个是在国内被屏蔽了吗？

[2021-04-16 04:31] shangwenhe commented on #3142
应该不是被屏蔽了，因为已经返回Not Found。

[2021-04-16 04:32] shangwenhe commented on #3142
Docker file可以给我一下吗？我自己构建一个开发容器。 nfpm 可以自己安装一下。

[2021-04-16 05:58] danyhoron commented on #3027
My instance runs in a docker container on another machine and I have an IIS (windows server) reverse proxy.
Here are the logs in Chrome:
![image](https://user-images.githubusercontent.com/9220101/114978371-cb1c2d00-9e91-11eb-9148-ac4e9ef165b6.png)

[2021-04-16 09:59] danyhoron commented on #3027
If I'm bypassing the reverse proxy and go straight to the docker instance it works in both Chrome and Brave.

Starting w/ v.3.9.2 it stopped working when using the reverse proxy.

[2021-04-16 12:05] bdefore commented on #3105
For me, it's not only that the UI doesn't update but that I need to reload the browser tab containing Code Server before the shortcut is active. I'm on 3.9.1.

[2021-04-16 12:45] sr229 commented on #1315
Hey all, after a month or so of digging I think I have way to implement the Remote extension!

As outline [in my tweet](https://twitter.com/satominyaaa/status/1383033609435586567), everything used by VS Remote is open source anyways so it's just a matter of writing our own extension for it residing in Remote.

As this is not a paid commitment, however, I cannot assure any availability but I will m

[2021-04-16 13:36] sr229 commented on #1315
After months of analysis and some bit of RE, I'm already starting work on this. Can't assure when it'll be available since it's not something I don't see that will take off immediately + my workspace time is very limited right now due to my hardware being incapable of developing at the moment.

[2021-04-16 13:55] eng-dibo commented on #3140
I removed all extensions (renamed the extensions dir), but the same issue

[2021-04-16 14:43] MrAdityaAlok opened #3146 "Termux : vs code exited unexpectedly with code 0"
## OS/Web Information

- Web Browser: Bromite
- Local OS: Android 9
- Remote OS: Android 9
- Remote Architecture: arm64
- `code-server --version`: 3.9.4

## Steps to Reproduce

1. Start vscode from termux
## Expected

Should start
## Actual

[code]
## Screenshot
![Screenshot_2021-04-16-20-14-58-816](https://user-images.githubusercontent.com/73517616/115041786-81166400-9ef0-11eb-8555-c8428235eabc.j

[2021-04-16 15:11] oxy commented on #3142
Hey there - we no longer actually use/support the Docker images in `ci/images`; I'll be removing it from the repo later today.

[2021-04-16 16:43] jsjoeio commented on #3027
Ah, so maybe something broke in 3.9.3 with the reverse proxy. That at least gives us a place to start investigating. Thanks so much for the logs and screenshots @danyhoron! Super helpful 🙌

[2021-04-16 16:45] jsjoeio commented on #3105
@bdefore good to know. I think I had to reload the tab as well for changes to take affect. Hopefully we can get to the bottom of this.

[2021-04-16 16:47] jsjoeio commented on #3140
Thanks for giving that a shot. Hmm...the hardest part is debugging this without being able to reproduce.

As a workaround, may I suggest looking at [`deploy-code-server`](https://github.com/cdr/deploy-code-server) and trying an alternative environment?

Maybe @code-asher has some insight into what might be causing this.

[2021-04-16 16:55] code-asher commented on #3140
Do you get the same errors in the console when you have no extensions?

And are there any logs from code-server's stdout?

[2021-04-16 16:58] jsjoeio commented on #3146
I saw you put 3.9.4, which is not out yet. Guessing that's a typo

Unfortunately, I'm not able to reproduce locally on Android 11 running on a Google Pixel 2 with 3.9.3

Hmm..I don't _think_ so. But you could try clearing your cookies and localStorage in your browser and seeing if that fixes things?

## Screenshot

https://user-images.githubusercontent.com/3806031/115058119-bba0e200-9e99-11eb-8a8f

[2021-04-16 17:02] MrAdityaAlok commented on #3146
Thank you, it worked after resetting the browser

On Fri, 16 Apr, 2021, 10:29 PM Joe Previte, ***@***.***>
wrote:

[2021-04-16 17:03] #3146 closed

[2021-04-16 17:25] hakanu commented on #3027
My setup doesn't have any reverse proxy, locally it runs and but fails to handshake.

I'm suspicious about the raspberry pi's 32 bit ARM architecture. Because 3.9.2 works fine on my intel desktop on ubuntu 64 bit

[2021-04-16 18:36] 12io commented on #3027
This could also be the case. I just installed it like in the past hour on a Pi 4 with armv7l after installing node12. So it took the npm way of installing it. Created a self signed cert due to testing and got the same error. But also there is a warning. I don't know how much this is helpful, but there is also a complaint about zlib. Here a short "full" log from "Starting code-server" to "visit the

[2021-04-16 19:47] #3142 closed

[2021-04-16 22:35] jawnsy opened #3149 "Consider using Page Objects for Playwright tests"
Our Playwright end-to-end tests currently hard-code selectors (class names and labels) required to find various DOM objects that we're working with. As the upstream Visual Studio Code does not provide stable identifiers (e.g. `id` tags) on key buttons, objects, etc, this means that our e2e tests are somewhat prone to breakage whenever the upstream Code project changes.

A technique that can help w

[2021-04-16 23:39] jsjoeio opened #3151 "[dev]: add Codecov to track testing code coverage"
Right now, we track code coverage (i.e. it's enabled in Jest [here](https://github.com/cdr/code-server/blob/main/package.json#L138-L151)) but we don't do anything with it.

I'd like to enable Codecov in order to start reporting our code coverage and help us track it over time.

It's free for open-source projects and can [leave comments on PRs](https://docs.codecov.io/docs/pull-request-comments) wi

[2021-04-17 00:56] sl6731220 opened #3154 "Whether code-server can support container development"
I really want to know how to use the container for development in code-server. The remote development plug-in of the container cannot be used in code-server. I think this function should be realized, which can directly connect to the docker container in server.You need a Docker container to set up the environment.

[2021-04-17 00:57] #3154 closed

[2021-04-17 14:59] MarcSkovMadsen commented on #1938
I am interested in getting pylance onto code-server as well.

[2021-04-18 02:27] Tydium opened #3159 "discord.js?"
Hey I was thinking you guys could add modules for discord.js? Perhaps something like [Discord js tools](https://marketplace.visualstudio.com/items?itemName=jasonhaxstuff.discord-js-tools) so it can be even more easier to code discord bots. I tried searching the custom store for something like it, but couldn't find anything. This would be a great touch!

[2021-04-18 04:47] nooobcoder opened #3160 "Deno Extension and Language Server not working"
I am using code-server 3.9.2 and the Deno extension (both from marketplace and vsix) does not work. Attaching relevant screenshots and logs below

I am using deno 1.9.0 (latest as of time), installed it from the official script provided by [deno.land](url)
![Deno Version Screenshot](https://user-images.githubusercontent.com/50350828/115134620-541c9b00-a02f-11eb-9ff7-97b7d74e58f0.png)

### LOGS
`[E

[2021-04-18 05:18] nooobcoder commented on #3160
### UPDATE
I resolved the problem myself
This is sorta weird, even though Deno is added to my .bashrc and .profile the extension was getting mad. So i read the docs and added the following entry in the `settings.json` (global) file

`"deno.path": "/home/coder/.deno/bin/deno",`
![image](https://user-images.githubusercontent.com/50350828/115135148-aa8bd880-a033-11eb-9e0b-7cf366ef07c2.png)

NOW IT WO

[2021-04-18 05:18] #3160 closed

[2021-04-18 16:48] YaBoiMason commented on #3027
I'm getting this on the latest ver. without any Zlib errors, just shows a blank screen and shows this:
[code]
I've reinstalled twice and I've upgraded to Debian Unstable.

[2021-04-18 16:51] fax1ty commented on #3079
Any news? Working solution?

[2021-04-18 18:51] jawnsy opened #3162 "Upgrade parcel-bundler"
We get a warning during the build related to a new major version of parcel, and should consider upgrading so that we can continue receiving updates/security support:

[2021-04-18 19:23] soerendip commented on #918
Hm, does not work for some strange reason.

`FROM ubuntu:focal

ENV PYTHONUNBUFFERED=1

ENV SHELL /bin/bash

RUN mkdir /data /compute /static /appmedia

RUN apt update && apt install -y build-essential wget

RUN wget --quiet https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh && \
    /bin/bash ~/miniconda.sh -b -p /opt/conda && \
    rm ~/miniconda.sh && \

[2021-04-19 14:19] jawnsy opened #3164 "Migrate to Yarn v2 to resolve duplicate dependency issues"
In #3161, @scinos suggested we use [`yarn-deduplicate`](https://github.com/atlassian/yarn-deduplicate) to fix duplicate dependencies in our lockfile ([link to comment](https://github.com/cdr/code-server/pull/3161#issuecomment-822477132)). The yarn-deduplicate project README says:

So it seems like we could consider migrating to v2 as an alternative way to avoid this problem. The yarn documentation

[2021-04-19 14:57] oxy commented on #3164
Another important note that I didn't add above; npm v7 currently doesn't have an alternative to yarn's `resolutions` functionality - they're planning to add it in a future 7.x release - https://github.com/npm/rfcs/pull/129 - but there's nothing yet.

[2021-04-19 15:13] oxy commented on #3159
Hi there! Our current extension marketplace is in maintenance mode, and we are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/).
Once https://github.com/eclipse/openvsx/issues/249 is finalized, we can fully make this transition. Therefore, we are no longer accepting new extension requests.

We suggest installing the VSIX file

[2021-04-19 15:13] #3159 closed

[2021-04-19 15:18] code-asher commented on #3154
You can follow our progress on this here: https://github.com/cdr/code-server/issues/1315

[2021-04-19 15:18] oxy commented on #1337
Now that we have arm64-on-x64 cross compile, it should be fairly simple to also do armv7-on-x64 builds; if there's no PRs for this, I'll look into it in the future, but there are currently other issues that are higher priority.

[2021-04-19 15:26] oxy opened #3166 "Move to using docker buildx to build arm64 images"
Currently, we still rely on a native self-hosted arm64 runner (hosted on AWS) to build our arm64 docker images. Moving to docker buildx+qemu allows us to drop our dependency on the self-hosted runner, and will also allow us to support other architectures (such as armv7) with docker images in the future.

[2021-04-19 15:32] code-asher commented on #3097
I haven't had the opportunity to debug but this seems related: https://github.com/cdr/code-server/issues/2803

[2021-04-19 15:36] sl6731220 commented on #3154
Thank you very much for your reply. I am looking forward to the success of the extension using the container. I can quickly build any AI environment limited by different CUDA versions, which will be a great advantage.

[2021-04-19 16:02] oxy commented on #3162
Parcel v2 is still in beta right now - see https://www.npmjs.com/package/parcel - and my initial attempts to get it working have it crashing with some error; currently working on debugging it.

[2021-04-19 16:07] code-asher commented on #3162
Just gonna throw this out here and see if it sticks but code-server's frontend is really quite barebones; we could compile the JavaScript with `tsc` and copy some files around and get rid of the bundler altogether. Honestly I don't think we gain that much from it. Not only that but after working for a long time mine stops compiling and I have to restart the whole process.

[2021-04-19 16:55] jsjoeio commented on #1938
@MarcSkovMadsen I took a look again at Pylance and it's still closed source so I don't think we can support it in code-server at this time. You could open an issue in their repo asking if they might open source or provide a way to use it in a project like code-server. Here is a link to their [new issue page](https://github.com/microsoft/pylance-release/issues/new/choose)

[2021-04-19 17:01] jsjoeio commented on #3079
Unfortunately, no :/ this is upstream and out of our control to fix. Only working solution I know of is to use an external keyboard.

[2021-04-19 18:19] owocean commented on #3027
Latest version, installed today on Arch WSL 2
[code]
I've reinstalled multiple times and looked everywhere, not sure what is causing this problem. Same error as all of you, I just need to be able to do work.

[2021-04-19 18:26] jsjoeio commented on #3027
@owocean do you get the same error on 3.9.2 or 3.9.1?

And for alternative ways to get code-server running, take a look at the [deploy-code-server guide](https://github.com/cdr/deploy-code-server).

We're still investigating this issue in the meantime.

[2021-04-19 20:18] jsjoeio commented on #3027
Thanks for confirming!

Completely understand. There are three free options - Railway, Heroku and Azure - offered in our guide.

Keep an eye on the this issue in the meantime.

[2021-04-19 20:29] #2647 closed

[2021-04-19 20:51] #2960 closed

[2021-04-20 01:56] Shayswisa7 opened #3170 "Simple"
- [ ] Extension name:
- [ ] Extension GitHub or homepage:

[2021-04-20 01:56] #3170 closed

[2021-04-20 15:11] code-asher commented on #3027
We might be able to get some helpful information with `--log trace`. It could also be helpful to get the corresponding browser logs along with the server side ones.

[2021-04-20 15:15] code-asher commented on #918
@soerendip I believe 127 means command not found so you probably need to install conda.

[2021-04-20 17:12] jsjoeio commented on #3170
Thanks for opening an extension request!
We are currently in the process of switching extension marketplaces and transitioning over to [Open VSX](https://open-vsx.org/). Once https://github.com/eclipse/openvsx/issues/249 is implemented, we can fully make this transition. Therefore, we are no longer accepting new requests for extension requests. We suggest installing the VSIX file and then installi

[2021-04-20 17:15] jsjoeio opened #3171 "test upstream:vscode"
This is a test issue

[2021-04-20 17:15] #3171 closed

[2021-04-20 20:41] jawnsy opened #3173 "Default to LANG setting for locale"
@oxy explained how code-server's localizations work:

As an alternative to writing files, it would be nice if we can instead parse the `LANG` environment variable (e.g. `LANG=en_US.utf8`) and default to that. The existing behavior should still take priority as users may want to override the locale (e.g. a Spanish-speaking user that uses an English UI, but wants to use Spanish in their editor).

[2021-04-20 21:38] jawnsy opened #3176 "Explore CodeQL or other static code analysis tools"
We currently use eslint in our build process, but we might want to explore other tools, such as CodeQL, to catch problematic constructs in our code.

[2021-04-20 21:39] jawnsy opened #3177 "Scan built docker images using trivy or grype"
We use AquaSec Trivy in some of our other projects for scanning our source code as well as built containers for possible security issues related to our third-party dependencies (e.g. packages installed with `apt-get` or `yarn`), and should consider the same for code-server

This would complement the audit-ci tool that we have already integrated.

[2021-04-21 03:10] Jason5Lee opened #3179 "rust-analyzer plugin not working on code-server"
## OS/Web Information

- Web Browser: Chrome
- Local OS: macOS
- Remote OS: macOS
- Remote Architecture:
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. run code-server
2. install rust-analyzer plugin
3. open a rust project.

## Expected

The plugin works fine.

## Actual

Plugin starts with error and cannot download rust-analyzer binary.

## Sc

[2021-04-21 06:13] baoyachi opened #3180 "Does code-server with security login validate ?"
The `code-server` is very convenient coding tool on any mobile device. Does `code-server` with login in browser with security login validate? If yes, how to configure it.

e.g:
* ip limit
* login device limit
* secondary confirmation
* ...

[2021-04-21 08:47] JJplane opened #3183 "'go to function definition' very slow and stuck"
## OS/Web Information

- Web Browser:Chrome
- Local OS:mac
- Remote OS:Ubuntu
- Remote Architecture:
- `code-server --version`:v3.9.3

## Steps to Reproduce

1.when I put the cursor on the function to look up the  function args
2.Or click on the function name to go to definition

## Expected
qucikly show the definitions

## Actual
everytime I restart the codeserver, it work once.But after once  'l

[2021-04-21 09:41] SJang1 commented on #2929
Here went to the same issue, but after updating Python and Jupyter extensions, this error had **disappeared**.
`Error: Cannot find module '/home/username/.local/share/code-server/extensions/ms-toolsai.jupyter-2020.12.1/out/client/extension'`

Now Just having this error
`[Extension Host] (node:62109) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please u

[2021-04-21 13:55] Jtshn opened #3184 "-- link exposes Coder without authentication"
## OS/Web Information

- Web Browser: Firefox
- Local OS: Windows 10 x64
- Remote OS: Ubuntu 20.04.2 LTS
- Remote Architecture: GNU/Linux 5.4.0-29-generic x86_64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. run `code-server --link`
![image](https://user-images.githubusercontent.com/24493762/115565711-e6d06a80-a2b9-11eb-8907-ddf517b57244.png)

[2021-04-21 14:06] Jtshn commented on #3184
as it turns out, after thinking about this issue a bit, Coder being accessible was caused by my disabled firewall.
I think this fixes my issue but maybe it would be worth a shot to not turn off authentication when using Coder using --link. due to if the firewall is disabled (or from a local address) it can easily be accessed

[2021-04-21 15:33] code-asher commented on #3184
It listens on localhost so it should only be accessible from within that machine unless something is proxying external requests to it. That limits the attack surface somewhat but I think we can do better.

One of the thoughts i had was to use a socket to communicate between code-server and the agent instead of listening on a port.

That way you could only access code-server if you have the right p

[2021-04-21 15:41] code-asher commented on #3184
Closing as a duplicate of https://github.com/cdr/code-server/issues/2484

[2021-04-21 15:41] #3184 closed

[2021-04-21 16:36] jsjoeio commented on #3179
I have the same setup (macOS + Chrome) and I was able to download the rust-analyzer binary and get it working (though I did see the `configuration.property` error.

## Screenshot

![image](https://user-images.githubusercontent.com/3806031/115589574-d8b42700-a284-11eb-9fcc-fc3e2eeab02c.png)

It looks like it could be an auth issue or a network error? Did you try updating your GitHub Auth token or r

[2021-04-21 16:40] jsjoeio commented on #3183
I tested locally using macOS + Chrome and could not reproduce unfortunately.

## Screenshot

https://user-images.githubusercontent.com/3806031/115590114-7576c480-a285-11eb-9efd-66b91d08a9f4.mov

If this can be reproduce in VS Code, then you should file it upstream.

This sounds like a separate issue. Do you mind filing a separate bug report issue?

[2021-04-21 16:41] #3183 closed

[2021-04-21 16:42] code-asher commented on #3183
I wonder if service workers are required for the goto functionality. If that's the case the SSL issue will need to be resolved to get this working.

[2021-04-21 17:54] Ito-Matsuda opened #3185 "code-server 3.9.3 vulnerabilities"
Hi there,

I think this is #2860 but for a different package.
My team uses code-server in docker images and before pushing it to our repo we run a trivy scan and get the hit (below)

[code]

https://github.com/advisories/GHSA-4c7m-wxvm-r7gc

## OS/Web Information

- Web Browser: Chrome
- Local OS: Ubuntu
- Remote OS: Ubuntu
- Remote Architecture: Docker image
- `code-server --version`:  3.9.3

Thi

[2021-04-21 18:45] strowk opened #3186 "Document how to deploy by helm with with ingress"
At first I just tried
[code]
after reading README.md here - https://github.com/cdr/code-server/tree/main/ci/helm-chart

That turned out not enough, because gives this:
[code]

Turned out there was not currently documented, but important part here - https://github.com/cdr/code-server/blob/main/ci/helm-chart/values.yaml#L48
[code]

So need to pass hosts. Then I was trying some black magic with curly

[2021-04-21 20:11] jsjoeio commented on #3185
Thanks for opening this issue! @jawnsy just opened an issue to run these scans more periodically:
- https://github.com/cdr/code-server/issues/3177

We'll take care of this before the next release

[2021-04-21 20:14] jsjoeio commented on #3186
Sorry you had to go through all the trouble, but glad to hear you got it working.

Thanks for documenting these steps. We'll update the docs (and credit you).

cc @bpmct (might be worth getting your help with this docs update since you've used helm)

[2021-04-21 21:04] oxy commented on #3185
I had a quick look at why `netmask` is installed; chain is `proxy-agent` -> `pac-proxy-agent` -> `pac-resolver` -> `netmask`

`netmask` is only used by `isInNet` in `pac-resolver`, which isn't used elsewhere in `pac-resolver` or anywhere else in the dependency chain. We're updating it, but current release does not pose any security risk, as `netmask` is just dead code.

Will still push a fix!

[2021-04-21 22:54] jsjoeio opened #3188 "[dev]: add random dir when running e2e tests"
Right now, we start code-server in the e2e tests CI job as is. Instead, we should start with a clean slate every time.

This will ensure consistency and confidence for our e2e tests.

## Notes
- a random dir would let us parallelize
- create a random dir
- when loading code-server in the browser we include ?folder= so it opens in that directory
  - we can add this here: https://github.com/cdr/code

[2021-04-22 01:24] YaBoiMason commented on #3027
I found out that if I connect to my server through it's local IP then I don't have any issues, but if I go to the domain name that I have pointed to my reverse proxy which does its magic and brings me to the code-server instance I get the blank screen. I can see the password screen just find, but the actual app is blank.

[2021-04-22 01:35] YaBoiMason commented on #3027
[code]
Here's the output with `--log trace`.

[2021-04-22 02:36] penM000 opened #3189 "Cannot perform ssh public key authentication from codeserver terminal."
## OS/Web Information

- Web Browser:Google Chrome 90.0.4430.85（Official Build）
- Local OS: Windows10 20H2 (19042.928)
- Remote OS: Debian GNU/Linux 10 (buster)
- Remote Architecture: Linux server1 4.19.0-16-amd64 #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64 GNU/Linux
- `code-server --version`:  3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1.Execute `ssh -T github`.
2.An

[2021-04-22 03:32] ambroselittle opened #3190 "Auth to GitHub on iPad Shows about:blank and Sign in failed: SecurityError: The operation is insecure."
## OS/Web Information

- Web Browser: Safari iPadOS
- Local OS: 14.4.2 (18D70)
- Remote OS: bencdr/code-server-azure container
- Remote Architecture:
- `code-server --version`: Whatever that image uses.

## Steps to Reproduce

1. Choose Clone repo on main start page.
2. Choose Clone from GitHub
    It prompts: The extension 'GitHub' wants to sign in using GitHub.
3. Choose Allow
    It shows Safar

[2021-04-22 08:18] NotoOotori opened #3191 "Cannot insert a new line in LaTeX files with the extension LaTeX Workshop enabled"
## OS/Web Information

- Web Browser: Safari
- Local OS: iPadOS 14.4.2 (18D70)
- Remote OS: Ubuntu 18.04.5 LTS
- Remote Architecture: x86_64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. Install the extension LaTeX Workshop of version 8.16.1 globally and reconnect to code-server.
2. Create a new file and set the language mode to be LaTeX.
3. P

[2021-04-22 08:21] Jason5Lee commented on #3179
I solve it by manual setup the rust-analyzer path, still have no idea why it fails to download.

[2021-04-22 08:21] #3179 closed

[2021-04-22 08:22] NotoOotori commented on #3191
## Screenshots

![image](https://user-images.githubusercontent.com/39304463/115681218-e7830280-a386-11eb-8c42-f69e8fd83299.jpeg)

[2021-04-22 12:21] pojntfx commented on #33
To mitigate this issue, I wrote [pojde](https://github.com/pojntfx/pojde), which creates multiple isolated code-server instances with Docker (or another CRI implementation) and handles updates, authentication, volumes, toolchains, TLS etc. - although proper multi-tenancy support (and especially real-time collaboration) would still be awesome :)

[2021-04-22 12:30] hakanaku1234 opened #3192 "toggle terminal has wrong behavior when words are selected by user"
## OS/Web Information

- Web Browser: Chrome
- Local OS: Windows10 (10.0.18363 N/A build 18363)
- Remote OS: Ubuntu18.04
- Remote Architecture: x64
- `code-server --version`: 3.9.2 109d2ce3247869eaeab67aa7e5423503ec9eb859

## Steps to Reproduce
0. first of all, setup this shortcut:
[code]
1. open a file and input random text
2. select any word (or words)
3. press "ctrl+`"

(this bug only happens w

[2021-04-22 16:12] code-asher commented on #3027
Ah OK this often happens because the reverse proxy isn't set up to proxy web sockets and so the socket connection fails. We might be able to pinpoint the issue if you can provide more details on the reverse proxy you're using and the configuration for it.

You could also use `--link` which will set up proxying for you through our cloud.

[2021-04-22 16:44] code-asher commented on #3189
I suppose it must be failing to ask for the password. Have you configured it to use some other method of pinentry?

I was unable to reproduce with this:

1. `docker run -p 8080:8080 codercom/code-server`
2. Browse to localhost:8080
3. Open VS Code terminal
4. Run `ssh-keygen` and enter a password
5. Add key to github.com
7. `ssh -T git@github.com
8. It asks for the password
9. Success

[2021-04-22 16:57] jsjoeio commented on #3179
Very weird. Well if it happens again or you figure out what's causing it, feel free to open a new issue. Glad you got it working though!

[2021-04-22 17:20] jsjoeio commented on #3192
I was able to reproduce in 3.9.3 using code-server locally in Chrome. I even tried changing the `when`  clause for the shortcut, but that didn't fix it.

## code-server

https://user-images.githubusercontent.com/3806031/115756346-f8198580-a352-11eb-9561-b8e6bc9df19e.mov

## Codespaces

I was able to reproduce in Codespaces which means it's an upstream issue.

Nice job finding this bug!

https://us

[2021-04-22 17:20] #3192 closed

[2021-04-22 17:25] jsjoeio opened #3193 "Automatically post release notes to community Slack"
When a new release is cut, post the release notes to the code-server Community Slack

## Notes

- we would just need a Slack token for the Slack community
- it could be automated -> set up a job in the `publish.yaml` called "slack"

H/T to @jawnsy for the idea

[2021-04-22 22:46] #3151 closed

[2021-04-22 22:49] jsjoeio commented on #3185
Closing via #3187

[2021-04-22 22:49] #3185 closed

[2021-04-23 00:18] penM000 commented on #3189
The problem is that it doesn't even go to the state of entering a password. Therefore, we believe that the private key is not being loaded.
This problem occurred after updating codeserver from 3.8.0 and below to 3.9.3.

[2021-04-23 00:42] penM000 commented on #3189
https://user-images.githubusercontent.com/33054826/115801648-362cad00-a418-11eb-9037-d1f67cfaedc6.mp4

[2021-04-23 02:30] YaBoiMason commented on #3027
I'm using [frp](https://github.com/fatedier/frp), and my configuration is [here](https://gist.github.com/YaBoiMason/bfc46c6eab861711c417de1bcd631292).

[2021-04-23 02:30] JJplane commented on #3183
https://user-images.githubusercontent.com/28783826/115809581-f2897180-a41e-11eb-9bbd-5841061bae55.mov

At the begining, cert False shows up, I choose 'continuing ot xxxx', At 00:06, I click the function name, it quickly shows the definition.At 00:11, I mouseover the fuction, 'loading' shows.At00:14

,  I click the function, the progress bar shows. As @code-asher says,:

Maybe the service doesn't w

[2021-04-23 09:54] konstantint opened #3196 "Easymotion does not work in the Vim plugin under Code-Server"
- Web Browser: Chrome
- Local OS: Windows or ChromeOS
- Remote OS: Ubuntu 16.04
- Remote Architecture: x86_64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. Install the VSCodeVim extension.
2. Edit settings.json by copying over the [quick example from the VSCodeVim page](https://github.com/VSCodeVim/Vim).
3. Enter the easymotion shortcut (`<spa

[2021-04-23 10:04] hacke2 commented on #1837
It seems that this bug will only appear in node 12，Node 10 is

[2021-04-23 12:15] AlseinX opened #3197 "The main page is loading urls from {{CS_STATIC_BASE}} after update from a very old version"
## OS/Web Information

- Web Browser: Edge(Chromium) Stable Latest
- Local OS: Windows 10 20H2
- Remote OS: CentOS 8
- Remote Architecture: AMD64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. Remove the rpm package from an old version
2. Install 3.9.3
3. Run and open, login

## Expected

work properly

## Actual

empty page while the developer

[2021-04-23 15:41] code-asher commented on #3189
Are you using ssh-agent? If the `SSH_AUTH_SOCK` environment variable exists then unsetting it might cause it to ask for the password normally. Something like:

[code]

If that doesn't help then using `ssh -vvv` might reveal more information.

[2021-04-23 16:31] yqboy commented on #1448
There is such a setting option in platformio.platformio-ide-2.3.2/package.json
![image](https://user-images.githubusercontent.com/19944861/115901641-07ecb300-a494-11eb-8737-d5729eb6bedc.png)

I tried it in docker and it worked

[2021-04-23 17:00] informathemusic opened #3198 "500: ``VS Code failed to load. exited unexpectedly with code 0``"
## OS/Web Information

- Web Browser: Firefox
- Local OS: Windows 10
- Remote OS: Raspbian
- Remote Architecture: armv71
- `code-server --version`:3.9.3

## Steps to Reproduce

1. Install code-server
2. Run code-server
3. Login in browser

## Expected

To be able to use vscode in browser

## Actual

vscode doesn't start

## Screenshot

![](https://imgur.com/QXtjOcv)

## Notes

This issue can be re

[2021-04-23 17:12] jsjoeio commented on #1448
That's awesome to hear - thanks for sharing @yqboy!

@RoboMagus let us know if you get a chance to try using that setting option and see if it fixes your issue

[2021-04-23 18:34] gogobd commented on #2341
it's weird but all the previous workarounds don't work for me any more... I get ChunkLoadError with 2020.10.332292344/ms-python-release.vsix and everything else I tried didn't work either. Is there a known working solution for docker currently?

[2021-04-23 18:53] gogobd commented on #2875
I'm having issues with jupyter too:

## OS/Web Information

- Web Browser: Brave
- Local OS: macOS
- Remote OS: docker
- Remote Architecture: amd64
- `code-server --version`: code-server-3.9.3-linux-amd64.tar.gz

## Steps to Reproduce

1. Click a .ipynb File

## Expected

Jupyter Notebook should be functional

## Actual

Jupyter Notebook diskpays but no cell can run

<img width="1315" alt="Screens

[2021-04-23 19:20] maresb commented on #2875
I'd love to help, but that seems to me like some sort of javascript problem. With that I'm clueless.

[2021-04-23 19:38] RoboMagus commented on #1448
That setting @yqboy mentions is actually a fix of mine that got merged ;)
I'm working on getting it working behind a reverse proxy as well though...

[2021-04-23 19:40] gogobd opened #3199 "Jupyter Notebook cells don’t execute properly"
## OS/Web Information

- Web Browser: Brave
- Local OS: macOS
- Remote OS: docker on macoS
- Remote Architecture: amd64
- `code-server --version`: 3.9.3

## Steps to Reproduce

1. Click a .ipynb file

## Expected

Jupyter Notebook should open, connect to a Kernel and cells should be ready to run

## Actual

Even after a series of installations of plugins (that seem to work fine) the Notebook can c

[2021-04-23 20:56] jsjoeio commented on #1448
Oh HA! Totally missed it. Nice :D

Okay well keep us posted.

[2021-04-24 01:52] penM000 commented on #3189
As you mentioned, I made sure that the ssh-agent command was available.
I also confirmed that SSH_AUTH_SOCK exists only on codeserver, as shown below.
#### ssh shell
[code]
#### code server shell
[code]
By deleting SSH_AUTH_SOCK in codeserver's shell, it worked fine.
I wrote unset in the bashrc, and the codeserver shell was restored.
Thank you very much for your advice!

####
[code]

[2021-04-24 14:35] konstantint commented on #3196
Hm, that's strange.

By now I tried installing code-server in three different servers (2x Ubungu, 1x Chromebook Crostini), and tested several clients (2x Windows, ChromeOS). I tried both SSH-forwarding as well as a server with a proper DNS. I only used the Vim plugin on the code-server side and disabled all browser extensions (also tried with a guest account and incognito mode) and I can't get the

[2021-04-24 16:52] maresb commented on #1938
@MarcSkovMadsen, the unfortunate situation regarding Pylance and open-source builds is discussed extensively [in this reddit thread](https://www.reddit.com/r/linux/comments/k0s8qw/vs_code_developers_prevent_running_the_new/). I highly recommend that you read through the post and comments.

[2021-04-24 20:45] idoodler opened #3202 "Change User"
I started to play around with this project, everything went smoothly 👍

I then noticed that the Terminal showed "root" as user which I don't really like cause I was deploying it on my own server, not some kind of DigitalOcean server. So I created its own user "coder", defined it in the service file and restarted the service.

I then ran into permission issues (as expected), so I changed the owners

[2021-04-24 23:23] Prushka opened #3203 "Cannot select text on iPad with trackpad / mouse"
## OS/Web Information

- Web Browser: Safari (with / without PWA) / Chrome
- Local OS: iOS
- Remote OS: Ubuntu Server
- Remote Architecture: Arm64
- `code-server --version`: 3.9.3

## Steps to Reproduce

1. Connect a mouse or trackpad to iPad.
2. Select any text in the editor with Mouse / Trackpad (i.e., press the Trackpad or Mouse left button and move around).

## Expected

The text should be sel

[2021-04-25 02:27] Craigzyc opened #3208 "Mongodb Extension request"
- [x] Extension name: MongoDB for VSCode
- [ ] Extension GitHub or homepage:https://marketplace.visualstudio.com/items?itemName=mongodb.mongodb-vscode

[2021-04-25 02:27] #3208 closed

[2021-04-25 03:47] metalshanked opened #3209 "Support for proxy pac file URL in config/settings/cli"
Is there a way to support corporate proxies using pac files (proxy auto configurations) ?
Eg:- https://code.visualstudio.com/docs/setup/network

IDEs like Jetbrains IntelliJ seem to have it as part of the user config

![image](https://user-images.githubusercontent.com/57646596/115980014-31faaf80-a53e-11eb-9c63-6272ba28eece.png)

[2021-04-25 05:31] vnijs commented on #2697
Not sure if this is the same issue but 3.9.3 produces the Cannot Reconnect window again (from a docker container). I reverted to 3.9.2 but that version opens to a blank page in Chrome so I reverted back to 3.9.0 which seems to work fine.

![image](https://user-images.githubusercontent.com/2998956/115981990-93297f80-a54c-11eb-9f3c-8e8c0e078427.png)

[2021-04-25 07:50] jwh9456 commented on #3014
I'm getting the same issue,

 4월 25 16:40:32 localhost.localdomain code-server[22661]: }
 4월 25 16:40:32 localhost.localdomain code-server[22661]: [2021-04-25T07:40:32.905Z] warn  vscode invalid distance too far back
 4월 25 16:40:37 localhost.localdomain code-server[22661]: Error: invalid distance too far back
 4월 25 16:40:37 localhost.localdomain code-server[22661]: at Zlib.zlibOnError [as onerro

[2021-04-25 09:40] idoodler commented on #3202
I decided to use Docker instead of installing it to my production server so I have encapsulated it from from my main processes.

[2021-04-25 09:40] #3202 closed

[2021-04-25 14:23] nikey02 commented on #3079
[https://github.com/microsoft/vscode/commit/20f3ece2e09f86f6a81858cb6e627e1a7afd4422#diff-720a2dcc75d4242d03024e70d87943ebc58dcdbb8baf1d1ab8b78792248b621a](https://github.com/microsoft/vscode/commit/20f3ece2e09f86f6a81858cb6e627e1a7afd4422#diff-720a2dcc75d4242d03024e70d87943ebc58dcdbb8baf1d1ab8b78792248b621a)

[2021-04-25 18:38] auebersohn commented on #3203
I am still on 3.9.2, but experiencing the same issue.

iOS device: iPad Pro 2018 model, running iOS 14.5
Browser: Safari
Remote server: Debian Buster (10.9)
Remote arch: arm64

Cannot select text using a magic keyboard’s trackpad, a mouse connected via bluetooth, or via the touchscreen. Like above, just sets the text cursor location on the first click, and then the device cursor just continues to

[2021-04-25 19:01] reticulatingsplines commented on #3203
Unsurprisingly, an upgrade to
Duplicate of #

Unsurprisingly, can confirm an upgrade to 3.9.3 did not resolve.

[2021-04-25 20:42] Micket opened #3212 "Multiple undocumented flags (e.g. --builtin-extensions-dir)"
I found some flags that I wanted to use e.g.
https://github.com/cdr/code-server/blob/d31439ec34572b6829902ea1863931071fe1fc55/src/node/cli.ts#L155
but it turned out that they aren't documented anywhere I can find.

There seems to be a bunch of flags like this which don't seem to be documented anywhere (nothing from `code-server --help`)

I've tried to look around, but, apart from the source code a

[2021-04-26 02:08] SJang1 opened #3215 "When accessing to code-server CPU usage goes crazy high on the Server side"
## OS/Web Information

- Web Browser: Firefox 88.0
- Local OS:MacOS big sur 11.2.3(20D91)
- Remote OS:Ubuntu 20.04 LTS
- Remote Architecture: x64
- `code-server --version`: 3.9.3 fe2dc2deb08e378069891b622bb62ad1d261d1b1

## Steps to Reproduce

1. run code-server
2. access to code-server

## Expected
Just runs well

## Actual
CPU usage for code-server (node) goes up to over 100% (over 1 cpu full)
I

[2021-04-26 03:01] HanyuuLu commented on #2767
I found that if you do not specify users, you can successfully restart it.
You can run it with args written below until the bug is fixed.
[code]

[2021-04-26 05:12] gogobd commented on #3199
I tried again, still no dice.

This time I tried to installed (Mini-)conda environment into docker before getting and starting code server.

1.) I click the .ipynb file, Code Server asks me if I want to search the Marketplace for support for ipnb files, I agree and install Jupyter v2021.3.0
2.) I click the .ipynb file again and Code Server installs an ipython kernel
3.) I can select the kernel and

[2021-04-26 07:01] nooobcoder opened #3216 "PyLance Language Server by microsoft does not work. Autoimport does not work too."
#3182
The autoimport feature in Pylance does not work on code-server. I know Pylance is in preview state, but it does not work at all on code-server. Works fine on VSCode though. I have sideloaded the extension from vsix as this is not available in the openvsix repository.
[Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance)

Also, i have enabled the following en

[2021-04-26 07:48] kdeyko commented on #2767
@HanyuuLu, thanks, it worked! Though I still needed to use `user: "0:0"` in my compose file.

[2021-04-26 13:31] oxy commented on #3216
We cannot. Microsoft will not allow us to, and their license prohibits it.
We do offer a fork of VSCode, but the license to the extension (and the extension itself) will *only* allow you to use it on the official Microsoft-provided binary builds, labelled "Visual Studio Code". I can't recommend bypassing this limitation either, because you'd be violating their license.

The issue you linked to has

[2021-04-26 13:31] #3216 closed

[2021-04-26 15:20] code-asher commented on #3212
Definitely fair, there are some bugs with those flags which I'd like to fix before making them more public. Tracking: https://github.com/cdr/code-server/issues/1157

[2021-04-26 15:46] code-asher commented on #3199
Is that the only error you see in the browser console logs?

[2021-04-26 15:47] informathemusic commented on #3198
### Update
Issue is still persisting after a fresh install of debian.
plz help :p

[2021-04-26 15:55] gogobd commented on #3199
This error is seen in the editor, i didn’t look at the browsers console log

[2021-04-26 15:55] code-asher commented on #3189
Hurrah! ssh-agent is probably trying to use a graphical pinentry which of course won't work on the terminal.

I'm not sure if there's anything we can do on our end to fix it but it would be cool if we could make ssh-agent ask for the passphrase through VS Code.

[2021-04-26 16:00] code-asher commented on #3199
Oops my bad. Please post the browser console logs! The code-server logs may also be helpful although in this case probably not.

[2021-04-26 16:23] gogobd commented on #3199
I was trying to provide the console logs when the bug just went away. I don't know why but it's not an issue any more. I'm closing this, sorry for the fuzz.

[2021-04-26 16:50] AurangAsif commented on #2879
Update: Railway has now added this feature https://railway.app/changelog/2021-05-23.
![image](https://user-images.githubusercontent.com/78823336/116120849-02f35380-a68e-11eb-96df-c9e127363ce3.png)

[2021-04-26 16:51] gogobd commented on #3199
Ok; i was able to reproduce this here's the log:

localhost/:1 [Deprecation] ::-webkit-details-marker pseudo element selector is deprecated. Please use ::marker instead. See https://chromestatus.com/feature/6730096436051968 for more details.
register.ts:14 [Service Worker] registered
webWorkerExtensionHost.ts:125 The web worker extension host is started without an iframe sandbox!
start @ webWorker